<div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 col-xxl-8">
                <div class="row">
                    <div class="col-1">
                        &nbsp;
                    </div>
                    <div class="col-11">
                        <a href="<%= (typeof back !== 'undefined' && back) ? back : 'home' %>"><img id="btn_back_menu_top" src="/public/SVG/Back.svg"/></a>
                        <h2 class="text-white" style="margin-left: -42px;"><%= title %></h2>
                        <div class="breadcrumb"  style="margin-left: -42px;">
                        <a class="nav1" href="home">Home</a>
                            <img style="width: 10px; height: 10px; margin: 6px;" src="/public/SVG/ArrowForward.svg">
                            <% if (typeof navs !== 'undefined' && navs.length > 0) { %>
                                <% navs.forEach(function(crumb, index) { %>
                                    <a class="nav1" href="<%= crumb.link %>"><%= crumb.label %></a>
                                    <img style="width: 10px; height: 10px; margin: 6px;" src="/public/SVG/ArrowForward.svg">
                                <% }); %> 
                            <% } %>
                            <%= title %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <%- emp_extension %>
            </div>
        </div>
    </div>
</div>