   <!-- Left Sidebar -->
   <nav class="sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column menu-sidebar">
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="home" onclick="$('#sidebar_expand').fadeToggle(100);return false;">
                    <img src="public/SVG/MenuD.svg" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item active" href="home">
                    <img src="<%= currentRoute === '/home' ? 'public/SVG/Home.svg' : 'public/SVG/HomeD.svg' %>" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="pset_list">
                    <% 
                    const validRoutes_p = ['/pset_list', '/edit_pset', '/forward_operation', '/forward_operation','/reverse_operation']; 
                    %>
                    <img  src="<%= validRoutes_p.includes(currentRoute)  ? 'public/SVG/Pset.svg' : 'public/SVG/PsetD.svg' %>" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="jobs">
                    <% 
                    const validRoutes_j = ['/jobs', '/edit_jobs', '/add_pset','/edit_jobs_interlocks','/edit_jobs_interlocks','/fail_rules']; 
                    %>
                    <img  src="<%= validRoutes_j.includes(currentRoute)  ? 'public/SVG/Job48.svg' : 'public/SVG/Job48D.svg' %>" />
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link menu-bottom-item" href="user_profile">
                    <img  src="<%= currentRoute === '/user_profile' ? 'public/SVG/User.svg' : 'public/SVG/UserD.svg' %>" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="about_us">
                    <img  src="<%= currentRoute === '/about_us' ? 'public/SVG/Help.svg' : 'public/SVG/HelpD.svg' %>" />
                </a>
            </li>
            <img  src="/public/images/logo.png" id="sidebar_logo" />
        </ul>
    </div>

    <div id="sidebar_expand">
        <div class="container-fluid">
            <div class="row item"><div class="col-12 p-1"><a href="home">Home</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="pset_list">Pset</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="jobs">Job</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="accessories">Accessories</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="global_settings">Global Setting</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="cycle_result">Cycle Result</a></div></div>
            <div class="row item" onclick="show_sideba_m('mm_setting',this);return false;" value="hide"><div class="col-10 p-1"><a href="#">Setting</a></div><div class="col-2 p-1"><img class="icon_show" style="width: 30px;" src="/public/SVG/Down.svg"></div></div>
            <div class="row item item-m-hide mm_setting"><div class="col-12 p-1"><a href="date_and_time">Date and Time</a></div></div>
            <div class="row item item-m-hide mm_setting"><div class="col-12 p-1"><a href="system_initialisation">System Initialization</a></div></div>
            <div class="row item item-m-hide mm_setting"><div class="col-12 p-1"><a href="ethernet_setting">Ethernet</a></div></div>
            <div class="row item item-m-hide mm_setting"><div class="col-12 p-1"><a href="wifi_setting_and_hotspot">Wifi Setting</a></div></div>
            <div class="row item item-m-hide mm_setting"><div class="col-12 p-1"><a href="tool_calibartion">Tool</a></div></div>
            <div class="row item" onclick="show_sideba_m('cm_setting',this);return false;" value="hide"><div class="col-10 p-1"><a href="#">Communication Setting</a></div><div class="col-2 p-1"><img class="icon_show" style="width: 30px;" src="/public/SVG/Down.svg"></div></div>
            <div class="row item item-m-hide cm_setting"><div class="col-12 p-1"><a href="pfop_settings">PFOP</a></div></div>
            <div class="row item item-m-hide cm_setting"><div class="col-12 p-1"><a href="system_initialisation">Fieldbus</a></div></div>
            <div class="row item item-m-hide cm_setting"><div class="col-12 p-1"><a href="ethernet_setting">Digital IO</a></div></div>
            <div class="row item item-m-hide cm_setting"><div class="col-12 p-1"><a href="wifi_setting_and_hotspot">BCode-Vin</a></div></div>
            <div class="row item item-m-hide cm_setting"><div class="col-12 p-1"><a href="tool_calibartion">AC-ToolsNet</a></div></div>
            <div class="row item" onclick="show_sideba_m('sm_setting',this);return false;" value="hide"><div class="col-10 p-1"><a href="#">System Maintenance</a></div><div class="col-2 p-1"><img class="icon_show" style="width: 30px;" src="/public/SVG/Down.svg"></div></div>
            <div class="row item item-m-hide sm_setting"><div class="col-12 p-1"><a href="date_and_time">Backup and Restore</a></div></div>
            <div class="row item item-m-hide sm_setting"><div class="col-12 p-1"><a href="system_initialisation">Firmware Upgrade</a></div></div>
            <div class="row item item-m-hide sm_setting"><div class="col-12 p-1"><a href="ethernet_setting">Tool Calibration</a></div></div>
            <div class="row item item-m-hide sm_setting"><div class="col-12 p-1"><a href="wifi_setting_and_hotspot">PM Alarms</a></div></div>
            <div class="row item item-m-hide sm_setting"><div class="col-12 p-1"><a href="tool_calibartion">Tool Fault Codes</a></div></div>
            <div class="row item item-m-hide sm_setting"><div class="col-12 p-1"><a href="tool_calibartion">Debug Logs</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="jobs">User management</a></div></div>
            <div class="row item"><div class="col-12 p-1"><a href="about_us">About</a></div></div>
        </div>
        <div id="logo_sidebar">
            <span class="hilight">INSIGHT</span>iqi
        </div>
    </div>
</nav>