   <!-- Left Sidebar -->
   <nav class="sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column menu-sidebar">
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="home">
                    <img src="public/SVG/MenuD.svg" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item active" href="home">
                    <img src="<%= currentRoute === '/home' ? 'public/SVG/Home.svg' : 'public/SVG/HomeD.svg' %>" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="pset_list">
                    <img  src="<%= currentRoute === '/pset_list' ? 'public/SVG/Pset.svg' : 'public/SVG/PsetD.svg' %>" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="jobs">
                    <img  src="<%= currentRoute === '/jobs' ? 'public/SVG/Job48.svg' : 'public/SVG/Job48D.svg' %>" />
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link menu-bottom-item" href="user_profile">
                    <img  src="<%= currentRoute === '/user_profile' ? 'public/SVG/User.svg' : 'public/SVG/UserD.svg' %>" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-bottom-item" href="about_us">
                    <img  src="<%= currentRoute === '/about_us' ? 'public/SVG/Help.svg' : 'public/SVG/HelpD.svg' %>" />
                </a>
            </li>
            <img  src="/public/images/logo.png" id="sidebar_logo" />
        </ul>
    </div>
</nav>