<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head', { title: 'Pset Edit',
        navs:[
            {label:'List Pset',link:'pset_list'}
        ],back:'pset_list'}) 
    %>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5">
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Pset Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="<%= jsonData && jsonData.Name ? jsonData.Name : name %>" class="form-control field_data" field_key="Name" field_type="emp_inp" field_type_data="string">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Units</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= jsonData && jsonData.Units ? jsonData.Units : '' %>" field_key="Units"  field_type_data="string" field_type="emp_inp" id="Units" > 
                            <option value="Nm" <%= jsonData && jsonData.Units === 'Nm' ? 'selected' : '' %>>Nm</option>
                            <option value="dNm" <%= jsonData && jsonData.Units === 'dNm' ? 'selected' : '' %>>dNm</option>
                            <option value="Ft-lbs" <%= jsonData && jsonData.Units === 'Ft-lbs' ? 'selected' : '' %>>Ft-lbs</option>
                            <option value="Ln-lbs" <%= jsonData && jsonData.Units === 'Ln-lbs' ? 'selected' : '' %>>Ln-lbs</option>
                            <option value="Kg-M" <%= jsonData && jsonData.Units === 'Kg-M' ? 'selected' : '' %>>Kg-M</option>
                            <option value="Kg-Cm" <%= jsonData && jsonData.Units === 'Kg-Cm' ? 'selected' : '' %>>Kg-Cm</option>
                        </select>                        
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Cycle Delay (Sec)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= jsonData && jsonData.CycleDelay ? jsonData.CycleDelay : 0 %>" field_key="CycleDelay"  field_type_data="number" field_type="emp_inp" >
                            <% for (let i = 0; i <= 10; i++) { %>
                                <option value="<%= i %>" <%= jsonData && jsonData.CycleDelay == i ? 'selected' : '' %>><%= i %></option>
                            <% } %>
                        </select>
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Forward Operation</div>
                </div>

                <div class="col-6">
                    <a href="forward_operation?id=<%= id %>"><img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/></a>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Reverse Operation</div>
                </div>

                <div class="col-6">
                    <a href="reverse_operation?id=<%= id %>"><img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/></a>
                </div>
            </div>

            <div class="row row-p mt-3" role="button" onclick="show_group('field_group_advence',this);return false;" value="hide">
                <div class="col-6">
                    <div class="label-txt">Advence Operation <a href="/alert_waring"><img class="d-none" src="/public/SVG/Warning.svg"></a></div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">Cycle Timeout</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= jsonData && jsonData.CycleTimeout ? jsonData.CycleTimeout : 0 %>" field_key="CycleTimeout" field_type="emp_inp"  field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">TR Per Pset</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.TrPerPset ? jsonData.TrPerPset : 0 %>" field_key="TrPerPset" field_type="emp_inp"  field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">Acceleration (%)</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.Acceleration ? jsonData.Acceleration : 0 %>" field_key="Acceleration" field_type="emp_inp"  field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">File on Early Trigger Release</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= jsonData && jsonData.EarlyRelease ? jsonData.EarlyRelease : false %>" field_key="EarlyRelease" field_type="emp_value"  field_type_data="bool" />
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">Rehit Detection</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= jsonData && jsonData.RehitDetection ? jsonData.RehitDetection : false %>" field_key="RehitDetection" field_type="emp_value"  field_type_data="bool" />
                </div>
            </div>
            
            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">Tilt Angle Inclination</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= jsonData && jsonData.TiltStart ? jsonData.TiltStart : 0 %>" field_key="TiltStart" field_type="emp_inp"  field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">Tilt Angle Working Inclination</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.TiltWorking ? jsonData.TiltWorking : 0 %>" field_key="TiltWorking" field_type="emp_inp" field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_advence">
                <div class="col-6">
                    <div class="label-txt">Hold Torque (ms)</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= jsonData && jsonData.HoldTorque ? jsonData.HoldTorque : 90 %>" field_key="HoldTorque" field_type="emp_inp" field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p" role="button" onclick="show_group('field_group_trace',this);return false;" value="hide">
                <div class="col-6">
                    <div class="label-txt">Trace Setting</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_trace">
                <div class="col-6">
                    <div class="label-txt">Trace Enable</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= jsonData && jsonData.TraceEnable ? jsonData.TraceEnable : false %>" field_key="TraceEnable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_trace">
                <div class="col-6">
                    <div class="label-txt">Complete Trace Transfer</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= jsonData && jsonData.CompleteTraceTransfer ? jsonData.CompleteTraceTransfer : false %>" field_key="CompleteTraceTransfer" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_trace">
                <div class="col-6">
                    <div class="label-txt">Time (Sec)</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.Time ? jsonData.Time : 1 %>" field_key="Time" field_type="emp_inp" field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_trace">
                <div class="col-6">
                    <div class="label-txt">Trace Points</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= jsonData && jsonData.TracePoints ? jsonData.TracePoints : 1000 %>" field_key="TracePoints" field_type="emp_inp" field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_trace">
                <div class="col-6">
                    <div class="label-txt">Torque Threshold to Capture</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="0" class="form-control field_data" value="<%= jsonData && jsonData.TorqueThresholdToCapture ? jsonData.TorqueThresholdToCapture : 1 %>" field_key="TorqueThresholdToCapture" field_type="emp_inp" field_type_data="number">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p row_field_hide field_group_trace">
                <div class="col-6">
                    <div id="Trace_selection_val" class="label-txt field_data" value="<%= jsonData && jsonData.TraceSelection ? jsonData.TraceSelection : 1 %>" field_key="TraceSelection" field_type="emp_value" field_type_data="string">Trace Selection</div>
                </div>

                <div class="col-6 pt-3" style="text-align: right;">
                    <span class="m-3"><img role="button" class="btn_sel_trace" src="/public/SVG/Checked.svg" onclick="sel_Trace_Selection(this);return false;" value="Torque"/> Torque</span>
                    <span class="m-3"><img role="button" class="btn_sel_trace"  src="/public/SVG/Unchecked.svg" onclick="sel_Trace_Selection(this);return false;" value="Angle"/> Angle</span>
                    <span class="m-3"><img role="button" class="btn_sel_trace"  src="/public/SVG/Unchecked.svg" onclick="sel_Trace_Selection(this);return false;" value="Angle and Torque"/> Angle and Torque</span>
                    <span class="m-3"><img role="button" class="btn_sel_trace"  src="/public/SVG/Unchecked.svg" onclick="sel_Trace_Selection(this);return false;" value="Torque,Angle and Current"/> Torque,Angle and Current</span>
                </div>
            </div>

            <div style="height: 250px;"></div>
        </div>
    </main>

    <div id="bar_footer" class="fixed2">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-12">
                    <span class="space-l" style="margin-left: 64px;"></span>
                    <span style="margin-right: 50px;" id="lbMaxTorque">Tool Max Torque: 90</span> <span id="lbMaxSpeed">Nm Tool Max Torque: 280 RPM</span>
                </div>
            </div>
        </div>
    </div>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="pset_list" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    
    <script>

        const fUnit = {
            "Nm": 0,
            "dNm": 1,
            "Ft-lbs": 2,
            "In-lbs": 3,
            "Kg-M": 4,
            "Kg-Cm": 5
        };

        const tNm = {
            0: 1,
            1: 0.1,
            2: 1.3558179483,
            3: 0.11298483,
            4: 9.80665003,
            5: 0.0980665
        };

        const tUnit = {
            0: "Nm",
            1: "dNm",
            2: "Ft-lbs",
            3: "In-lbs",
            4: "Kg-M",
            5: "Kg-Cm"
        };

        let MainWin = {
            MaxTorque:  1.08,
            MaxRmp: 1000 
        };

        function save_data() {
            var obj_p = JSON.parse('<%- JSON.stringify(jsonData) %>');
            var id_file='<%= id %>';
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    obj_p[key_emp]=v;
                }
            });

            if(obj_p["Steps"]==null) obj_p["Steps"]=[];
            if(obj_p.index) delete obj_p.index;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: obj_p,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                    var obj_p_item={};
                    obj_p_item["ID"]=id_file;
                    obj_p_item["Name"]=obj_p["Name"];
                    obj_p_item["Status"]=false;
                    obj_p_item["StepCount"]=obj_p["StepCount"];
                    update_for_list(obj_p_item,id_file);
                    show_msg("Update success","Edit Pset");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function update_for_list(obj_p,id){
            $.ajax({
                url: '/update-list-by-field',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    dataJson: obj_p,
                    file_name:"PsetList"
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        $(document).ready(()=>{
            $(".row_field_hide").hide();
            
            load_ui_event();

            var traceSelection = '<%= jsonData && jsonData.TraceSelection ? jsonData.TraceSelection : "Torque" %>';
            $(".btn_sel_trace").each(function(){
                if ($(this).attr("value") == traceSelection) {
                    $(this).attr("src", "/public/SVG/Checked.svg");
                } else {
                    $(this).attr("src", "/public/SVG/Unchecked.svg");
                }
            });

            $("#Units").change(function(){
                load_bar_footer_info();
            });
            load_bar_footer_info();
        });

        function load_bar_footer_info(){
            var Units_val=$("#Units").val();
            let m = MainWin.MaxTorque / tNm[fUnit[Units_val]];
            let fs = (m < 10) ? "#0.00" : "#0.0";
            let lbMaxTorque = `Tool Max Torque: ${m.toFixed(fs === "#0.00" ? 2 : 1)} ${Units_val}`;
            let lbMaxSpeed = `Nm Tool Max Torque ${MainWin.MaxRmp.toFixed(0)} RPM`;

            $("#lbMaxTorque").html(lbMaxTorque);
            $("#lbMaxSpeed").html(lbMaxSpeed);
        }

        function show_group(s_name_group,emp){
            var val_show=$(emp).attr("value");
            if(val_show=="hide"){
                $(emp).find(".icon_show").attr("src", "public/SVG/ExUp.svg");
                $("."+s_name_group).show();
                $(emp).attr("value","show");
            }else{
                $(emp).find(".icon_show").attr("src", "public/SVG/Down.svg");
                $("."+s_name_group).hide();
                $(emp).attr("value","hide");
            }
        }

        function sel_Trace_Selection(emp){
            var val_emp=$(emp).attr("value");
            $(".btn_sel_trace").attr("src","/public/SVG/Unchecked.svg");
            $(emp).attr("src","/public/SVG/Checked.svg");
            $("#Trace_selection_val").attr("value",val_emp);
        }
    </script>
</body>
</html>