<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pset Edit</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <h2 class="text-white" style="margin-left: -42px;">Pset Edit</h2>
                            <div class="breadcrumb"  style="margin-left: -42px;"><a class="nav1" href="/pset_list">List Pset</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Edit Pset</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Pset Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="<%=name %>" class="form-control field_data" field_key="Name" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Units</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= jsonData && jsonData.Units ? jsonData.Units : '' %>" field_key="Units"> 
                            <option value="Nm" <%= jsonData && jsonData.Units === 'Nm' ? 'selected' : '' %>>Nm</option>
                            <option value="dNm" <%= jsonData && jsonData.Units === 'dNm' ? 'selected' : '' %>>dNm</option>
                            <option value="Ft-lbs" <%= jsonData && jsonData.Units === 'Ft-lbs' ? 'selected' : '' %>>Ft-lbs</option>
                            <option value="Ln-lbs" <%= jsonData && jsonData.Units === 'Ln-lbs' ? 'selected' : '' %>>Ln-lbs</option>
                            <option value="Kg-M" <%= jsonData && jsonData.Units === 'Kg-M' ? 'selected' : '' %>>Kg-M</option>
                            <option value="Kg-Cm" <%= jsonData && jsonData.Units === 'Kg-Cm' ? 'selected' : '' %>>Kg-Cm</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Cycle Delay (Sec)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= jsonData && jsonData.CycleDelay ? jsonData.CycleDelay : 0 %>" field_key="CycleDelay">
                            <% for (let i = 0; i <= 10; i++) { %>
                                <option value="<%= i %>" <%= jsonData && jsonData.CycleDelay == i ? 'selected' : '' %>><%= i %></option>
                            <% } %>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Forward Operation</div>
                </div>

                <div class="col-6">
                    <a href="forward_operation"><img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/></a>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Reverse Operation</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/>
                </div>
            </div>

            <div class="row row-p  mt-3">
                <div class="col-6">
                    <div class="label-txt">Advence Operation <a href="/alert_waring"><img src="/public/SVG/Warning.svg"></a></div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right" class="mb-2 mt-3"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Cycle Timeout</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control" value="<%= jsonData && jsonData.CycleTimeout ? jsonData.CycleTimeout : 0 %>" field_key="CycleTimeout">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">TR Per Pset</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.TrPerPset ? jsonData.TrPerPset : 0 %>" field_key="TrPerPset">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Acceleration (%)</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.Acceleration ? jsonData.Acceleration : 0 %>" field_key="Acceleration">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">File on Early Trigger Release</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" class="mb-2 mt-3 field_data"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Rehit Detection</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" class="mb-2 mt-3 field_data"/>
                </div>
            </div>
            
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Tilt Angle Inclination</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= jsonData && jsonData.Tilt_angel_inclination ? jsonData.Tilt_angel_inclination : 0 %>" field_key="Tilt_angel_inclination">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Tilt Angle Working Inclination</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.Tilt_angel_working_inclination ? jsonData.Tilt_angel_working_inclination : 0 %>" field_key="Tilt_angel_working_inclination">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Hold Torque (ms)</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= jsonData && jsonData.HoldTorque ? jsonData.HoldTorque : 90 %>" field_key="HoldTorque">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Trace Setting</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right;" class="mb-2 mt-3 field_data"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Trace Enable</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" class="mb-2 mt-3 field_data"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Complete Trace Transfer</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;" class="mb-2 mt-3 field_data"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Time (Sec)</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= jsonData && jsonData.Time ? jsonData.Time : 1 %>" field_key="Time">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Trace Points</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= jsonData && jsonData.TracePoints ? jsonData.TracePoints : 1000 %>" field_key="TracePoints">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Torque Threshold to Capture</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="0" class="form-control field_data" value="<%= jsonData && jsonData.TorqueThresholdToCapture ? jsonData.TorqueThresholdToCapture : 1 %>" field_key="TorqueThresholdToCapture">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Trace Selection</div>
                </div>

                <div class="col-6 pt-3" style="text-align: right;">
                    <span class="m-3"><img src="/public/SVG/Checked.svg"/> Torque</span>
                    <span class="m-3"><img src="/public/SVG/Unchecked.svg"/> Angle</span>
                    <span class="m-3"><img src="/public/SVG/Unchecked.svg"/> Angle and Torque</span>
                    <span class="m-3"><img src="/public/SVG/Unchecked.svg"/> Torque,Angle and Current</span>
                </div>
            </div>
        </div>
    </main>

    <div id="bar_footer">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-12">
                    <span class="space-l" style="margin-left: 64px;"></span>
                    <span style="margin-right: 50px;">Tool Max Torque: 90</span> <span>Nm Tool Max Torque: 280 RPM</span>
                </div>
            </div>
        </div>
    </div>

    <div id="menu_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="pset_list" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function save_data() {
            var obj_p = JSON.parse('<%- JSON.stringify(jsonData) %>');
            var id_file=obj_p["ID"];
            $(".field_data").each(function (index, emp) {
                var $emp = $(emp);
                var val_emp = $emp.val();
                var key_emp = $emp.attr("field_key");
                if (key_emp !== undefined) {
                    obj_p[key_emp] = val_emp;
                    console.log(index + " : " + key_emp + " = " + val_emp);
                }
            });
            
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: obj_p,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                    update_for_list(obj_p,id_file);
                    alert("Update success");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function update_for_list(obj_p,id){
            $.ajax({
                url: '/update-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    dataJson: obj_p,
                    id: id
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        $(document).ready(()=>{
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });
        });
    </script>
</body>
</html>