<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>

<body class="brown">
    <%- include('menu_sidebar') %>
    <%- include('bar_head_full', { title: 'Forward Operation',
        navs:[
            {label:'List Pset',link:'pset_list'},
            {label:'Edit Pset',link:'edit_pset?id='+id}
        ],
        back:'edit_pset?id='+id,
        emp_extension:`
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group r border mb-2 mt-2">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <input type="text" placeholder="Search" class="form-control" id="inp_search">
                                <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <button onclick="add_steps();return false;" class="btn btn-info text-white btn-rounded f-right mb-2 mt-2 w-100 p-2"><img style="width: 25px;height: 25px;margin-right: 6px;" src="/public/SVG/Add.svg"/>Step</button>
                        </div>
                    </div>
        `}) 
    %>

    <%- include('p9_alet_warning.ejs') %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_10p">Step</th>
                    <th class="col_tb_60p">Strategy</th>
                    <th class="col_tb_30p">Action</th>
                  </tr>
                </thead>
                <tbody id="all_items">
                    <tr>
                        <td colspan="3" class="text-center">No steps available</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script>
        const typeNames = ["","Torque", "Angle", "Prevailling Torque", "Flush", "Delay", "Backout"];
        var jsonData=JSON.parse('<%- JSON.stringify(jsonData) %>');
        var id_file='<%= id %>';

        function row_step(data_s){
            var html='<tr data-index="'+data_s.index+'">';
            html+='<td>'+(data_s.index+1)+'</td>'; 
            html+='<td>'+typeNames[data_s.Type]+'</td>'; 
            html+='<td class="col_act">';
                html+='<a role="button" href="#" onclick="delete_steps('+data_s.index+');return false;"><img src="/public/SVG/Trash.svg"></a>'; 
                html+='<a role="button" href="#" onclick="copy_steps('+data_s.index+');return false;"><img src="/public/SVG/Copy.svg"></a>'; 
                html+='<a role="button" href="edit_pset_step?id='+id_file+'&index_step='+data_s.index+'"><img src="/public/SVG/Edit.svg"></a>'; 
                html+='<a role="button" href="#" class="btn-sort"><img src="/public/SVG/Move.svg"></a>'; 
            html+='</td>';
            html+='</tr>';
            return $(html);
        }

        function copy_steps(index){
            let copiedObject = { ...jsonData.Steps[index] };
            var next_step=parseInt(jsonData.StepCount)+1;
            if(next_step>8) return false;

            jsonData.Steps[next_step]=copiedObject;
            show_msg("Copied "+(index+1)+" step to new step successfully!","Copy");
            save_data();
            load_list();
        }

        function delete_steps(index){
            show_msg("Are you sure you want to delete step "+(parseInt(index+1))+"?","Delete Step",()=>{
                var btn_del=$('<button class="btn btn-danger btn-rounded">Delete</button>');
                $(btn_del).click(()=>{
                    jsonData.Steps[index].Type=0;
                    save_data();
                    load_list();
                    close_msg();
                });
                $("#box_msg_btn").append(btn_del);
            });
        }

        function add_steps(){
            if(jsonData.StepCount>=8) return false;
            var next_step=parseInt(jsonData.StepCount)+1;
            var cur_step=parseInt(jsonData.StepCount);
            jsonData.StepCount=next_step;
            jsonData.Steps[cur_step].Type=1;
            var obj_list_update={};
            obj_list_update.ID=id_file;
            obj_list_update.StepCount=next_step;
            update_for_list_pset_obj(obj_list_update);
            save_data();
            load_list();
        }

        function load_list(){
            $("#all_items").empty();
            $(jsonData.Steps).each(function(index,s){
                if(index>=parseInt(jsonData.StepCount)) return true;
                s["index"]=index;
                $("#all_items").append(row_step(s));
            });
        }

        $(document).ready(function () {
            $("#inp_search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#all_items tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
            
            load_list();
            $("#all_items").sortable({
                axis: "y",
                handle: ".btn-sort",
                start: function (event, ui) {
                    ui.item.addClass("dragging");
                    ui.item.find('td').each(function(index,r) {
                        if(index==0) $(r).css("width","10%");
                        if(index==1) $(r).css("width","60%");
                        if(index==2) $(r).css("width","30%");
                    });
                },
                stop: function (event, ui){
                    ui.item.removeClass("dragging");
                    ui.item.find('td').each(function(index,r) {
                        if(index==0) $(r).css("width","10%");
                        if(index==1) $(r).css("width","60%");
                        if(index==2) $(r).css("width","30%");
                    });
                },update: function (event, ui) {
                    let newOrder = [];
                    $("#all_items tr").each(function () {
                        let originalIndex = $(this).data("index");
                        newOrder.push(jsonData.Steps[originalIndex]);
                    });

                    $(newOrder).each(function(index,s){
                        jsonData.Steps[index]=s;
                    });
                    
                    save_data();
                    load_list();
                }
            }).disableSelection();
        });

        function save_data() {
            var id_file='<%= id %>';
            let countNonZero = 0;
            jsonData.Steps.sort(function(a, b) {
                if (a.Type !== 0 && b.Type === 0)return -1;
                else if (a.Type === 0 && b.Type !== 0) return 1;
                return 0; 
            });

            countNonZero = jsonData.Steps.filter(function(item) {
                return item.Type !== 0;
            }).length;

            jsonData.StepCount=countNonZero;

            let obj_steps=jsonData.Steps.map(s => {
                const { index, ...rest } = s;
                return rest;
            });
            let obj_data=jsonData;
            obj_data.Steps=obj_steps;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: obj_data,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function update_for_list_pset_obj(data_p){
            $.ajax({
                url: '/update-list-by-id',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    dataJson: data_p,
                    file_name: 'PsetList'
                }),
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>