<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Forward Operation</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>

<body class="brown">
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 bg-dark box-shadow">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <a href="/edit_pset?id=<%= id %>"><img id="btn_back_menu_top" src="/public/SVG/Back.svg"/></a>
                            <h2 class="text-white" style="margin-left: -42px;">Forward Operation</h2>
                            <div class="breadcrumb"  style="margin-left: -42px;"><a class="nav1" href="/edit_pset?id=<%= id %>">Edit Pset</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Forward Operation</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group r border mb-2 mt-2">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <input type="text" placeholder="Search" class="form-control" id="inp_search">
                                <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <button onclick="add_steps();return false;" class="btn btn-info text-white btn-rounded f-right mb-2 mt-2 w-100 p-2"><img style="width: 25px;height: 25px;margin-right: 6px;" src="/public/SVG/Add.svg"/>Step</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" style="width: 20%;">Step</th>
                    <th style="width: 50%;">Pset Name</th>
                    <th style="width: 30%;">Action</th>
                  </tr>
                </thead>
                <tbody id="all_items">
                    <tr>
                        <td colspan="3" class="text-center">No steps available</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script>
        const typeNames = ["Torque", "Angle", "Prevailling Torque", "Flush", "Delay", "Backout"];
        var jsonData=JSON.parse('<%- JSON.stringify(jsonData) %>');

        function row_step(data_s){
            var html='<tr>';
            html+='<td>'+(data_s.index+1)+'</td>'; 
            html+='<td>'+typeNames[data_s.Type]+'</td>'; 
            html+='<td>';
                html+='<a role="button" href="#" onclick="delete_steps('+data_s.index+');return false;"><img src="/public/SVG/Trash.svg"></a>'; 
                html+='<a role="button" href="#" onclick="copy_steps('+data_s.index+');return false;"><img src="/public/SVG/Copy.svg"></a>'; 
                html+='<a role="button" href="#"><img src="/public/SVG/Edit.svg"></a>'; 
                html+='<a role="button" href="#" class="btn-sort"><img src="/public/SVG/Move.svg"></a>'; 
            html+='</td>';
            html+='</tr>';
            return $(html);
        }

        function copy_steps(index){
            let copiedObject = { ...jsonData.Steps[index] };
            jsonData.Steps.push(copiedObject);
            show_msg("Copied "+(index+1)+" step to new step successfully!","Copy");
            save_data();
            load_list();
        }

        function delete_steps(index){
            show_msg("Are you sure you want to delete step "+(parseInt(index+1))+"?","Delete Step",()=>{
                var btn_del=$('<button class="btn btn-danger btn-rounded">Delete</button>');
                $(btn_del).click(()=>{
                    jsonData.Steps.splice(index, 1);
                    save_data();
                    load_list();
                    close_msg();
                });
                $("#box_msg_btn").append(btn_del);
            });
        }

        function add_steps(){
            if(jsonData.Steps==null) jsonData.Steps=[];
            var obj_step={};
            obj_step["Type"]=1;
            obj_step["TA"]={};
            obj_step["AT"]={};
            obj_step["PT"]={};
            obj_step["Seat"]={};
            obj_step["Delay"]={};
            obj_step["Backout"]={};
            jsonData.Steps.push(obj_step);
            show_msg("Add Steps success!","Edit Pset");
            save_data();
            load_list();
        }

        function load_list(){
            $("#all_items").empty();
            $(jsonData.Steps).each(function(index,s){
                s["index"]=index;
                $("#all_items").append(row_step(s));
            });
        }

        $(document).ready(function () {
            $("#inp_search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#all_items tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
            
            load_list();
            $("#all_items").sortable({
                axis: "y",
                handle: ".btn-sort",
                stop: function () {

                }
            }).disableSelection();
        });

        function save_data() {
            var id_file='<%= id %>';
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: jsonData,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>