<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Step Edit</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <a href="/edit_pset?id=<%= id %>"><img id="btn_back_menu_top" src="/public/SVG/Back.svg"/></a>
                            <h2 class="text-white" style="margin-left: -42px;">Step Edit</h2>
                            <div class="breadcrumb"  style="margin-left: -42px;">
                                <a class="nav1" href="/pset_list">List Steps</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg">
                                <a href="edit_pset?id=<%= id %>">Edit Pset</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg">
                                <a href="forward_operation?id=<%= id %>">Forward Operation</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg">
                                Step Edit <%= parseInt(index_step+1) %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <% const stepData=jsonData.Steps[index_step];%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Step Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= stepData && stepData.Type ? stepData.Type : 0 %>" field_key="Type" field_type="emp_inp" > 
                            <option value="0" <%= stepData && stepData.Type === 0 ? 'selected' : '' %>>Torque</option>
                            <option value="1" <%= stepData && stepData.Type === 1 ? 'selected' : '' %>>Angle</option>
                            <option value="2" <%= stepData && stepData.Type === 2 ? 'selected' : '' %>>Prevailling Torque</option>
                            <option value="3" <%= stepData && stepData.Type === 3 ? 'selected' : '' %>>Flush</option>
                            <option value="4" <%= stepData && stepData.Type === 4 ? 'selected' : '' %>>Delay</option>
                            <option value="5" <%= stepData && stepData.Type === 5 ? 'selected' : '' %>>Backout</option>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Direction</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.Direction ? stepData.Direction : 'Clockwise' %>" field_key="Direction" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Torque Target (Nm)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.TorqueTarget ? stepData.TorqueTarget :0 %>" field_key="TorqueTarget" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Torque Hight Limit (Nm)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.TorqueHighLimit ? stepData.TorqueHighLimit :0 %>" field_key="TorqueHighLimit" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Torque Low Limit (Nm)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.TorqueLowLimit ? stepData.TorqueLowLimit :0 %>" field_key="TorqueLowLimit" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Angle Hight Limit (*)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.AngleHighLimit ? stepData.AngleHighLimit :0 %>" field_key="AngleHighLimit" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Angle Low Limit (*)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.AngleLowLimit ? stepData.AngleLowLimit :0 %>" field_key="AngleLowLimit" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Threshold (Nm)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.Threshold ? stepData.Threshold :0 %>" field_key="Threshold" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Free Speed</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.FreeSpeed ? stepData.FreeSpeed :0 %>" field_key="FreeSpeed" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Overshoot Compensation (Nm)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.OvershootComppensation ? stepData.OvershootComppensation :0 %>" field_key="OvershootComppensation" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Downshift Threshold (Nm)</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.DownshiftThreshold ? stepData.DownshiftThreshold :0 %>" field_key="DownshiftThreshold" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Downshift Speed</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.ShiftdownSpeed ? stepData.ShiftdownSpeed :0 %>" field_key="ShiftdownSpeed" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">EOR Data Enable</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= jsonData && jsonData.EorDataEnable ? jsonData.EorDataEnable : false %>" field_key="EorDataEnable" field_type="emp_value"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Torque Threshold Enabled</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= jsonData && jsonData.TorqueThresholdEnabled ? jsonData.TorqueThresholdEnabled : false %>" field_key="TorqueThresholdEnabled" field_type="emp_value"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Step Transition</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= stepData && stepData.StepTransition ? stepData.StepTransition :0 %>" field_key="StepTransition" field_type="emp_inp" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="bar_footer">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-12">
                    <span class="space-l" style="margin-left: 64px;"></span>
                    <span style="margin-right: 50px;">Tool Max Torque: 90</span> <span>Nm Tool Max Torque: 280 RPM</span>
                </div>
            </div>
        </div>
    </div>

    <div id="menu_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="pset_list" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    
    <script>
        function save_data() {
            var obj_p = JSON.parse('<%- JSON.stringify(jsonData) %>');
            var step_index=parseInt('<%= index_step %>');
            var id_file='<%= id %>';

            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                if (key_emp !== undefined) {
                    if(type_emp=="emp_value")
                        obj_s[key_emp] = $(emp).attr("value");
                    else
                        obj_s[key_emp] =  $(emp).val();
                }
            });

            var obj_step_new={};
            obj_step_new.Type=obj_s["Type"];
            obj_step_new.TA=obj_s;
            obj_p.Steps[step_index]=obj_step_new;
            
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: obj_p,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Edit Pset");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }


        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        $(document).ready(()=>{
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });
    </script>
</body>
</html>