<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Reverse Operation</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head', { title: 'Reverse Operation',
        navs:[
            {label:'List Pset',link:'pset_list'},
            {label:'Edit Pset',link:'edit_pset?id='+id}
        ],
        back:'edit_pset?id='+id
        })
    %>
    <% const Reverse=jsonData.Reverse;%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Disable Reverse</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Reverse && Reverse.DisableReverse ? Reverse.DisableReverse : false %>" field_key="DisableReverse" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Reverse Eor Enabled</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Reverse && Reverse.ReverseEorEnabled ? Reverse.ReverseEorEnabled : false %>" field_key="ReverseEorEnabled" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Batch Decrement</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Reverse && Reverse.BatchDecrement ? Reverse.BatchDecrement : false %>" field_key="BatchDecrement" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Torque Target</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= Reverse && Reverse.TorqueTarget ? Reverse.TorqueTarget :"" %>" field_key="TorqueTarget" field_type="emp_inp" field_type_data="number" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Reverse Threshold</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= Reverse && Reverse.ReverseThreshold ? Reverse.ReverseThreshold :"" %>" field_key="ReverseThreshold" field_type="emp_inp" field_type_data="number" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Reverse Speed</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= Reverse && Reverse.ReverseSpeed ? Reverse.ReverseSpeed :"" %>" field_key="ReverseSpeed" field_type="emp_inp" field_type_data="number" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div id="bar_footer" class="fixed2">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-12">
                    <span class="space-l" style="margin-left: 64px;"></span>
                    <span style="margin-right: 50px;">Tool Max Torque: 90</span> <span>Nm Tool Max Torque: 280 RPM</span>
                </div>
            </div>
        </div>
    </div>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="edit_pset?id=<%= id %>" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    
    <script>
        function save_data() {
            var obj_p = JSON.parse('<%- JSON.stringify(jsonData) %>');
            var id_file='<%= id %>';

            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    obj_s[key_emp]=v;
                }
            });
            obj_p["Reverse"]=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: obj_p,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Edit Pset");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }


        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        $(document).ready(()=>{
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });
    </script>
</body>
</html>