<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pset List</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body class="brown">
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <h2 class="text-white" style="margin-left: -42px;">Jobs</h2>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group r border mb-2 mt-2">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <input type="text" placeholder="Search" class="form-control">
                                <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info text-white btn-rounded f-right mb-2 mt-2 w-100 p-2"><img style="width: 25px;height: 25px;margin-right: 6px;" src="/public/SVG/Add.svg"/>Add Job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Job Name</th>
                    <th scope="col">Interlocks</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% if (jsonList && jsonList.length > 0) { %>
                        <% jsonList.forEach(job => { %>
                            <tr>       
                                <td scope="row"><%= job.ID %></td>
                                <td><%= job.Name %></td>
                                <td>
                                    <a href="#" onclick="show_delete();return false"><img src="/public/SVG/Trash.svg"></a>
                                    <a href="/edit_jobs"><img src="/public/SVG/Barcode.svg"></a>
                                    <a href="/edit_jobs"><img src="/public/SVG/Tool.svg"></a>
                                    <a href="/edit_jobs"><img src="/public/SVG/Flower.svg"></a>
                                    <a href="/edit_jobs"><img src="/public/SVG/Reverse.svg"></a>
                                </td>
                                <td>
                                    <a href="#" onclick="show_delete(this);return false" data-id="<%= job.ID %>" data-name="<%= job.Name %>"><img src="/public/SVG/Trash.svg"></a>
                                    <a href="/edit_pset"><img src="/public/SVG/Copy.svg"></a>
                                    <a href="/edit_pset"><img src="/public/SVG/Edit.svg"></a>
                                </td>
                              </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>

    <div id="bar_footer" style="border-bottom: solid 2px black;">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-4">
                    <span style="margin-left: 63px;"></span>Tool Jobjs : <%= jsonList.length %>
                </div>
                <div class="col-4 text-center">
                    Valid : 1
                </div>
                <div class="col-4" style="text-align: right;">
                    Invalid : 1
                </div>
            </div>
        </div>
    </div>

    <div id="bar_footer">
        <div class="container-fluid">
            <div class="row p-3">
                <div class="col-12 text-center">
                   <img src="/public/SVG/Back.svg">
                   <span style="border-radius: 20px;padding-left: 20px !important;padding-right: 20px !important;" class="p-2 bg-dark m-2">10/1</span>
                   <img src="/public/SVG/Forward.svg">
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>

    <script>
        function show_delete(){
            $("#bk_dark_full").show();
            $("#box_msg").show();
        }
    </script>
</body>
</html>