<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Add Pset</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head_full', {
        title: 'Add Pset',
        navs:[
            {label:'Jobs',link:'jobs'},
            {label:'Edit Job',link:'edit_jobs?id='+id}
        ],
        back: 'edit_jobs?id='+id,
        emp_extension: `
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group r border mb-2 mt-2">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <input type="text" placeholder="Search" class="form-control" id="inp_search">
                                <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                            </div>
                        </div>
                    </div>
            `
        }) %>

    <!-- Main Content Full Width -->
    <main class="">
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_10p">Staus</th>
                    <th class="col_tb_60p">Pset Name</th>
                    <th class="col_tb_10p">Strategy</th>
                    <th class="col_tb_10p">Target</th>
                    <th class="col_tb_10p">Steps</th>
                  </tr>
                </thead>
                <tbody id="all_items"></tbody>
            </table>
        </div>
    </main>

    <script>
        var listpsetData = JSON.parse('<%- JSON.stringify(psetList) %>');
        var data_j = JSON.parse('<%- JSON.stringify(jsonData) %>');
        var id_file='<%= id %>';

        function item_p(data_p){
            if(data_p.ID=="") return false;
            var html='<tr>';
                html+='<td scope="row">';
                    html+='<img src="/public/SVG/Off.svg" data-index="'+data_p.index+'" style="width:42px" role="button" class="mb-2 mt-3 field_data btn_switch" value="'+data_p.Staus+'" field_key="Status" field_type="emp_value" field_type_data="bool"/>';
                html+='</td>';
                html+='<td>'+data_p.Name+'</td>';
                html+='<td>Torque</td>';
                html+='<td>20</td>';
                html+='<td>'+data_p.StepCount+'</td>';
            html+='</tr>';
            return $(html);
        }

        $(document).ready(()=>{
            $("#all_items").empty();
            $(listpsetData).each(function(index,p){
                p.index=index;
                $("#all_items").append(item_p(p));
            });

            $("#inp_search").on("keyup", function () {
                const value = $(this).val().toLowerCase();
                const filteredData = listpsetData.filter(item =>
                    item.Name.toLowerCase().includes(value)
                );

                if(value.trim()!=""){
                    $('#all_items').empty();
                    $.each(filteredData, function(index, item) {
                        $('#all_items').append(item_p(item));
                    });
                }else{
                    load_list();
                }
                load_ui();
            });

            load_ui();
        });

        function load_ui(){
            $(".btn_switch").each(function(){
            if ($(this).attr("value")=="true")
                $(this).attr("src", "/public/SVG/On.svg");
            else 
                $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                var val_index=$(this).data("index");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                    remove_p_set(val_index);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                    add_p_set(val_index);
                }
            });
        }

        function add_p_set(index){
            var data_p=listpsetData[index];
            var data_pset={"ID": "",
                    "Strategy": "Torque",
                    "Target": 0,
                    "Steps": 0,
                    "Complete": false,
                    "FailRules": {
                        "BatchCount": 1,
                        "SocketAssignment": "None",
                        "ResetToPset": "None",
                        "MaxAttemptsEnable": true,
                        "MaxNokEnable": false,
                        "FailureType": "Any Failure",
                        "Action": "Retry Count",
                        "RetryCount": 1,
                        "RetryAction": "Abort"
                    }
                };
            data_pset.ID=data_p.ID;
            data_pset.Steps=data_p.StepCount;

            let emptyIndex = data_j.Psets.findIndex(item => item.ID === "");

            if (emptyIndex !== -1) data_j.Psets[emptyIndex] = data_pset;
            let PsetCount = data_j.Psets.filter(item => item.ID && item.ID.trim() !== "").length;
            data_j.PsetCount=PsetCount;

            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_j,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });

            update_job_list();
        }

        function remove_p_set(index){
            var data_p=listpsetData[index];
            var is_update=false;
            for (let i = data_j.Psets.length - 1; i >= 0; i--) {
                if (data_j.Psets[i].ID==data_p.ID) {
                    data_j.Psets[i]={"ID": "",
                        "Strategy": "",
                        "Target": 0,
                        "Steps": 0,
                        "Complete": true,
                        "FailRules": {
                            "BatchCount": 1,
                            "SocketAssignment": "None",
                            "ResetToPset": "None",
                            "MaxAttemptsEnable": true,
                            "MaxNokEnable": false,
                            "FailureType": "Any Failure",
                            "Action": "Retry Count",
                            "RetryCount": 1,
                            "RetryAction": "Abort"
                        }
                    };
                    is_update=true;
                    break;
                }
            }

            if(is_update==false) return;
            let PsetCount = data_j.Psets.filter(item => item.ID && item.ID.trim() !== "").length;
            data_j.PsetCount=PsetCount;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_j,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });

            update_job_list();
        }

        function update_job_list(){
            var obj_item_j={};
            obj_item_j.ID=data_j.ID;
            obj_item_j.PsetCount=data_j.PsetCount;
            $.ajax({
                url: '/update-list-by-field',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    dataJson: obj_item_j,
                    file_name:"JobList"
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
</body>
</html>