<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Add Pset</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <img id="btn_back_menu_top" src="/public/SVG/Back.svg"/>
                            <h2 class="text-white" style="margin-left: -42px;">Add Pset</h2>
                            <div class="breadcrumb"  style="margin-left: -42px;">
                                <a class="nav1" href="/jobs">Jobs</a>
                                <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> 
                                <a href="/edit_jobs?id=<%= id%>">Edit Job</a>
                                <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> 
                                Add Pset
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group r border mb-2 mt-2">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <input type="text" placeholder="Search" class="form-control">
                                <span class="input-group-text r-right"><img src="/public/SVG/Search.svg"/></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content Full Width -->
    <main class="">
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col">Staus</th>
                    <th>Pset Name</th>
                    <th>Strategy</th>
                    <th>Target</th>
                    <th>Steps</th>
                  </tr>
                </thead>
                <tbody id="all_items"></tbody>
            </table>
        </div>
    </main>

    <script>
        var listpsetData = JSON.parse('<%- JSON.stringify(psetList) %>');
        var data_j = JSON.parse('<%- JSON.stringify(jsonData) %>');
        var id_file='<%= id %>';

        function item_p(data_p){
            if(data_p.ID=="") return false;
            var html='<tr>';
                html+='<td scope="row">';
                    html+='<img src="/public/SVG/Off.svg" data-index="'+data_p.index+'" style="width:42px" role="button" class="mb-2 mt-3 field_data btn_switch" value="'+data_p.Staus+'" field_key="Status" field_type="emp_value" field_type_data="bool"/>';
                html+='</td>';
                html+='<td>'+data_p.Name+'</td>';
                html+='<td>Torque</td>';
                html+='<td>20</td>';
                html+='<td>'+data_p.StepCount+'</td>';
            html+='</tr>';
            return $(html);
        }

        $(document).ready(()=>{
            $("#all_items").empty();
            $(listpsetData).each(function(index,p){
                p.index=index;
                $("#all_items").append(item_p(p));
            });

            $(".btn_switch").each(function(){
            if ($(this).attr("value")=="true")
                $(this).attr("src", "/public/SVG/On.svg");
            else 
                $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                var val_index=$(this).data("index");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                    remove_p_set(val_index);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                    add_p_set(val_index);
                }
            });
        });

        function add_p_set(index){
            var data_p=listpsetData[index];
            var data_pset={
                "Strategy": "Torque",
                "Target": 2.5,
                "Steps": 1,
                "Complete": false
            };
            data_pset.ID=data_p.ID;
            data_pset.Steps=data_p.StepCount;

            let emptyIndex = data_j.Psets.findIndex(item => item.ID === "");

            if (emptyIndex !== -1) data_j.Psets[emptyIndex] = data_pset;

            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_j,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function remove_p_set(index){
            var data_p=listpsetData[index];
            var is_update=false;
            for (let i = data_j.Psets.length - 1; i >= 0; i--) {
                if (data_j.Psets[i].ID==data_p.ID) {
                    data_j.Psets[i]={
                        "ID":"",
                        "Strategy": "Torque",
                        "Target": 2.5,
                        "Steps": 1,
                        "Complete": false
                    };
                    is_update=true;
                    break;
                }
            }

            if(is_update==false) return;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_j,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>