<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Interlocks</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{
        title: 'Interlocks Setting',
        navs:[
            {label:'Jobs',link:'jobs'},
            {label:'Edit Job',link:'edit_jobs?id='+id}
        ],
        back: 'edit_jobs?id='+id}) %>

    <% const Interlocks=jsonData.Interlocks%>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt"><img src="/public/SVG/Tick.svg"> Valid Job</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Interlocks && Interlocks.ValidJob ? Interlocks.ValidJob : false %>" field_key="ValidJob" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt"><img src="/public/SVG/Barcode.svg"> Code/ VIN</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Interlocks && Interlocks.BcodeVin ? Interlocks.BcodeVin : false %>" field_key="BcodeVin" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt" style="margin-left: 20px;"><img src="/public/SVG/Lock.svg"> Lock on Re-Scan</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Interlocks && Interlocks.LockOnRescan ? Interlocks.LockOnRescan : false %>" field_key="LockOnRescan" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt"><img src="/public/SVG/Tool.svg"> Tool Enable</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Interlocks && Interlocks.ToolEnable ? Interlocks.ToolEnable : false %>" field_key="ToolEnable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt"><img src="/public/SVG/Flower.svg"> Smart socket</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Interlocks && Interlocks.SmartSocket ? Interlocks.SmartSocket : false %>" field_key="SmartSocket" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt"><img src="/public/SVG/Reverse.svg"> Reverse Disabled</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Interlocks && Interlocks.ReverseDisable ? Interlocks.ReverseDisable : false %>" field_key="ReverseDisable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('p9_alet_warning.ejs') %>

    <script>
    $(document).ready(()=>{
        $(".btn_switch").each(function(){
            if ($(this).attr("value")=="true")
                $(this).attr("src", "/public/SVG/On.svg");
            else 
                $(this).attr("src", "/public/SVG/Off.svg");
        });

        $(".btn_switch").click(function(){
            var val_emp=$(this).attr("value");
            if(val_emp=="true"){
                $(this).attr("src", "/public/SVG/Off.svg");
                $(this).attr("value",false);
            }else{
                $(this).attr("src", "/public/SVG/On.svg");
                $(this).attr("value",true);
            }
            save_data();
        });
    });

    function save_data(){
        var obj_p = JSON.parse('<%- JSON.stringify(jsonData) %>');
        var id_file='<%= id %>';

        var obj_interlocks={};
        $(".field_data").each(function (index, emp) {
            var key_emp = $(emp).attr("field_key");
            var type_emp = $(emp).attr("field_type");
            var type_data = $(emp).attr("field_type_data");
            if (key_emp !== undefined) {
                var v='';
                if(type_emp=="emp_value")
                    v=$(emp).attr("value");
                else
                    v= $(emp).val();

                if(type_data=="number") v=Number(v);
                if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');
                obj_interlocks[key_emp]=v;
            }
        });

        obj_p.Interlocks=obj_interlocks;

        $.ajax({
            url: '/save-json',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                data_json: obj_p,
                file_name: id_file
            }),
            success: function(response) {
                console.log(response.message);
            },
            error: function(error) {
                console.log(error.responseJSON.error);
            }
        });

        let obj_new={}
        obj_new.ID=id_file;
        obj_new.Name=obj_p.Name;
        obj_new.ValidJob=obj_p.Interlocks.ValidJob;
        obj_new.BcodeVin=obj_p.Interlocks.BcodeVin;
        obj_new.ToolEnable=obj_p.Interlocks.ToolEnable;
        obj_new.SmartSocket=obj_p.Interlocks.SmartSocket;
        obj_new.ReverseDisable=obj_p.Interlocks.ReverseDisable;
        obj_new.PsetCount=obj_p.PsetCount;
        update_for_list_pset_obj(obj_new);
    }

    function update_for_list_pset_obj(data_j){
        $.ajax({
            url: '/update-list-by-id',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                    dataJson: data_j,
                    file_name: 'JobList'
            }),
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error.responseJSON.error);
            }
        });
    }
    </script>
</body>
</html>