<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fail Rules</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{
        title: 'Fail Rules',
        navs:[
            {label:'Jobs',link:'jobs'},
            {label:'Edit Job',link:'edit_jobs?id='+id_job}
        ],
        back: 'edit_jobs?id='+id_job}) %>
    <% const FailRules = jsonData.Psets[index_p].FailRules || {}; %>

    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid pb-5">
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Batch Count</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= FailRules && FailRules.BatchCount ? FailRules.BatchCount : 0 %>" field_key="BatchCount" field_type="emp_inp" field_type_data="number" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Socket Assignment</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FailRules && FailRules.SocketAssignment ? FailRules.SocketAssignment : 'None' %>" field_key="SocketAssignment"  field_type_data="string" field_type="emp_inp" > 
                            <option value="None">None</option>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Reset To Pset</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FailRules && FailRules.ResetToPset ? FailRules.ResetToPset : 'None' %>" field_key="ResetToPset"  field_type_data="string" field_type="emp_inp" > 
                            <option value="None">None</option>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Max Attempts Enabled</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= FailRules && FailRules.MaxAttemptsEnable ? FailRules.MaxAttemptsEnable : false %>" field_key="MaxAttemptsEnable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>
    
            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Max NOK Enabled</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= FailRules && FailRules.MaxNokEnable ? FailRules.MaxNokEnable : false %>" field_key="MaxNokEnable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Failure Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FailRules && FailRules.FailureType ? FailRules.FailureType : 'Any Failure' %>" field_key="FailureType"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Any Failure">Any Failure</option>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Action</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FailRules && FailRules.FailureType ? FailRules.FailureType : 'Disable on Fail' %>" field_key="Action"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Disable on Fail">Disable on Fail</option>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Retry Count</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data"  class="form-control field_data" value="<%= FailRules && FailRules.RetryCount ? FailRules.RetryCount : 0 %>" field_key="RetryCount" field_type="emp_inp" field_type_data="number" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p mb-5">
                <div class="col-6">
                    <div class="label-txt">Retry Action</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FailRules && FailRules.RetryAction ? FailRules.RetryAction : 'Abort' %>" field_key="RetryAction"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Abort">Abort</option>
                        </select>
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="Act_save();return false;">Save</button>
                    <a href="edit_jobs?id=<%= id_job %>" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>

    <script>
        $(document).ready(()=>{
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });

        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        function Act_save(){
            var obj_p = JSON.parse('<%- JSON.stringify(jsonData) %>');
            var id_file='<%= id_job %>';
            var index_edit='<%= index_p %>';

            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    obj_s[key_emp]=v;
                }
            });
            obj_p.Psets[index_edit].FailRules=obj_s;
            $(obj_p.Psets).each(function(index,p){
                delete p.index;
            });
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: obj_p,
                    file_name: id_file
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success!","Fail Rules");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>

</html>