<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Global Setting</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <a href="home"><img id="btn_back_menu_top" src="/public/SVG/Back.svg"/></a>
                            <h2 class="text-white" style="margin-left: -42px;">Global Setting</h2>
                            <div class="breadcrumb"  style="margin-left: -42px;"><a class="nav1" href="/home">Home</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Global Setting</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% const Globals=jsonData.Global|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Boot Job</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Globals && Globals.BootJob ? Globals.BootJob : false %>" field_key="BootJob" field_type="emp_value"   field_type_data="bool" />
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Tool Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= Globals && Globals.ToolType ? Globals.ToolType : 'Handheld Angle' %>" field_key="ToolType" field_type="emp_inp"  field_type_data="string" disabled>
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Spindle Operation</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox" value="<%= Globals && Globals.SpindleOperation ? Globals.SpindleOperation : 'Handheld' %>" field_key="SpindleOperation"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Handheld" <%= Globals && Globals.SpindleOperation === 'Handheld' ? 'selected' : '' %>>Handheld</option>
                            <option value="Remote Start" <%= Globals && Globals.SpindleOperation === 'Remote Start' ? 'selected' : '' %>>Remote Start</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>


            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Tool Start Mode</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= Globals && Globals.ToolStartMode ? Globals.ToolStartMode : 'Trigger Start' %>" field_key="ToolStartMode"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Trigger Start" <%= Globals && Globals.ToolStartMode === 'Trigger Start' ? 'selected' : '' %>>Trigger Start</option>
                            <option value="Push to start" <%= Globals && Globals.ToolStartMode === 'Push to start' ? 'selected' : '' %>>Push to start</option>
                            <option value="Both" <%= Globals && Globals.ToolStartMode === 'Both' ? 'selected' : '' %>>Both</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>


            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Job Selection</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= Globals && Globals.JobSelection ? Globals.JobSelection : 'Internal-Controller' %>" field_key="JobSelection"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Internal-Controller" <%= Globals && Globals.JobSelection === 'Internal-Controller' ? 'selected' : '' %>>Internal-Controller</option>
                            <option value="External-MES" <%= Globals && Globals.JobSelection === 'External-MES' ? 'selected' : '' %>>External-MES</option>
                            <option value="External-BCODE/VIN" <%= Globals && Globals.JobSelection === 'External-BCODE/VIN' ? 'selected' : '' %>>External-BCODE/VIN</option>
                            <option value="External-Discrete" <%= Globals && Globals.JobSelection === 'External-Discrete' ? 'selected' : '' %>>External-Discrete</option>
                            <option value="External-Discrete-Fieldbus" <%= Globals && Globals.JobSelection === 'External-Discrete-Fieldbus' ? 'selected' : '' %>>External-Discrete-Fieldbus</option>
                            <option value="External-Binary" <%= Globals && Globals.JobSelection === 'External-Binary' ? 'selected' : '' %>>External-Binary</option>
                            <option value="External-Binary-Fieldbus" <%= Globals && Globals.JobSelection === 'External-Binary-Fieldbus' ? 'selected' : '' %>>External-Binary-Fieldbus</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{

            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });

        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.Global=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Settings'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Global Setting");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>

</html>