<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title: 'Ethernet Setting'}) %>
    
    <% const Ethernet=jsonData.Ethernet|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid pm-5 mb-5">

            <div class="row row-h" role="button" onclick="show_group('field_group_port1',this);return false;" value="show">
                <div class="col-6">
                    <div class="label-txt">Port 1</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/ExUp.svg" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Gateway</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.Gateway ? Ethernet.Gateway : 0 %>" field_key="Gateway" field_type="emp_inp"  field_type_data="string" id="Gateway" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Primary DNS</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.PrimaryDNS ? Ethernet.PrimaryDNS : 0 %>"  field_key="PrimaryDNS" field_type="emp_inp"  field_type_data="string" id="PrimaryDNS" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Secondary DNS</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.SecondaryDNS ? Ethernet.SecondaryDNS : '' %>" field_key="SecondaryDNS" field_type="emp_inp"  field_type_data="string" id="SecondaryDNS" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Link Status</div>
                </div>

                <div class="col-6">
                    <span id="btn-status" class="mt-3 ml-3"></span>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">MAC address</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.MACadddress ? Ethernet.MACadddress : '' %>" field_key="MACadddress" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Speed</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.Speed ? Ethernet.Speed : '' %>" field_key="Speed" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Network Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= Ethernet && Ethernet.NetworkType ? Ethernet.NetworkType : 'Static' %>" field_key="NetworkType"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Static" <%= Ethernet && Ethernet.NetworkType === 'Static' ? 'selected' : '' %>>Static</option>
                            <option value="DHCP" <%= Ethernet && Ethernet.NetworkType === 'DHCP' ? 'selected' : '' %>>DHCP</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">IP Address</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.IPAddress ? Ethernet.IPAddress : '' %>" field_key="IPAddress" field_type="emp_inp"  field_type_data="string" id="IPAddress" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Subnet Mask</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.SubnetMask ? Ethernet.SubnetMask : '' %>" field_key="SubnetMask" field_type="emp_inp"  field_type_data="string" id="SubnetMask" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <!---Port 2-->
            <div class="mt-2">&nbsp;</div>

            <div class="row row-h" role="button" onclick="show_group('field_group_port2',this);return false;" value="hide">
                <div class="col-6">
                    <div class="label-txt">Port 2</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/Down.svg" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Gateway</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.Gateway2 ? Ethernet.Gateway2 : 0 %>" field_key="Gateway2" field_type="emp_inp"  field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Primary DNS</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data"  value="<%= Ethernet && Ethernet.PrimaryDNS2 ? Ethernet.PrimaryDNS2 : '' %>" field_key="PrimaryDNS2" field_type="emp_inp"  field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Secondary DNS</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.SecondaryDNS2 ? Ethernet.SecondaryDNS2 : '' %>" field_key="SecondaryDNS2" field_type="emp_inp"  field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Link Status</div>
                </div>

                <div class="col-6">
                    <span id="btn-status" class="mt-3 ml-3"></span>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">MAC address</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.MACadddress2 ? Ethernet.MACadddress2 : '' %>" field_key="MACadddress2" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Speed</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.Speed2 ? Ethernet.Speed2 : '' %>" field_key="Speed2" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Network Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= Ethernet && Ethernet.NetworkType ? Ethernet.NetworkType : 'Static' %>" field_key="NetworkType2"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Static" <%= Ethernet && Ethernet.NetworkType === 'Static' ? 'selected' : '' %>>Static</option>
                            <option value="DHCP" <%= Ethernet && Ethernet.NetworkType === 'DHCP' ? 'selected' : '' %>>DHCP</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">IP Address</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.IPAddress2 ? Ethernet.IPAddress2 : '' %>" field_key="IPAddress2" field_type="emp_inp"  field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port2">
                <div class="col-6">
                    <div class="label-txt">Subnet Mask</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= Ethernet && Ethernet.SubnetMask2 ? Ethernet.SubnetMask2 : '' %>" field_key="SubnetMask2" field_type="emp_inp"  field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>
            <div class="mt-5 mb-5">&nbsp;</div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            $(".field_group_port2").hide();
            load_ui_event();
            $("#IPAddress").on("input", v_IPAddress);
            $("#SubnetMask").on("input", v_SubnetMask);
            $("#Gateway").on("input", v_Gateway);
            $("#PrimaryDNS").on("input", v_PrimaryDNS);
            $("#SecondaryDNS").on("input",v_SecondaryDNS);
        });

        function v_Gateway() {
            var is_error = 0;
            hide_alert();

            if ($("#Gateway").length > 0) {
                var val_Gateway = $("#Gateway").val().trim();
                hide_alert();

                if (val_Gateway === "") {
                    show_alert("The Gateway field cannot be left blank!");
                    is_error = 1;
                } 
                else if (!/^\d{1,3}(\.\d{1,3}){3}$/.test(val_Gateway)) {
                    show_alert("Please enter a valid Gateway IP address in the format X.X.X.X (e.g., 192.168.1.1).");
                    is_error = 1;
                } 
                else {
                    var octets = val_Gateway.split(".");
                    for (var i = 0; i < octets.length; i++) {
                        var octet = parseInt(octets[i], 10);
                        if (octet < 0 || octet > 255) {
                            show_alert("Each segment of the Gateway IP address must be between 0 and 255.");
                            is_error = 1;
                            break;
                        }
                    }
                }
            }

            return is_error;
        }

        function v_SecondaryDNS() {
            var is_error = 0;
            hide_alert();

            if ($("#SecondaryDNS").length > 0) {
                var val_SecondaryDNS = $("#SecondaryDNS").val().trim();
                hide_alert();
                if (val_SecondaryDNS.length > 20) {
                    show_alert("The Secondary DNS field must not exceed 20 characters.");
                    is_error = 1;
                }
            }

            return is_error;
        }

        function v_IPAddress() {
            var is_error = 0;
            hide_alert();

            if ($("#IPAddress").length > 0) {
                var val_IPAddress = $("#IPAddress").val().trim();
                hide_alert();
                if (val_IPAddress === "") {
                    show_alert("The IP Address field cannot be left blank!");
                    is_error = 1;
                } 
                else if (!/^\d{1,3}(\.\d{1,3}){3}$/.test(val_IPAddress)) {
                    show_alert("Please enter a valid IP address in the format X.X.X.X (e.g., 192.168.0.1).");
                    is_error = 1;
                } 
  
                else {
                    var octets = val_IPAddress.split(".");
                    for (var i = 0; i < octets.length; i++) {
                        if (parseInt(octets[i], 10) < 0 || parseInt(octets[i], 10) > 255) {
                            show_alert("Each segment of the IP address must be between 0 and 255.");
                            is_error = 1;
                            break;
                        }
                    }
                }
            }

            return is_error;
        }

        function v_SubnetMask() {
            var is_error = 0;
            hide_alert();

            if ($("#SubnetMask").length > 0) {
                var val_SubnetMask = $("#SubnetMask").val().trim();
                hide_alert();

                if (val_SubnetMask === "") {
                    show_alert("The Subnet Mask field cannot be left blank!");
                    is_error = 1;
                } 
                else if (!/^\d{1,3}(\.\d{1,3}){3}$/.test(val_SubnetMask)) {
                    show_alert("Please enter a valid Subnet Mask in the format X.X.X.X (e.g., 255.255.255.0).");
                    is_error = 1;
                } 
                else {
                    var octets = val_SubnetMask.split(".");
                    var valid_subnet_values = [0, 128, 192, 224, 240, 248, 252, 254, 255];
                    for (var i = 0; i < octets.length; i++) {
                        if (!valid_subnet_values.includes(parseInt(octets[i], 10))) {
                            show_alert("Each segment of the Subnet Mask must be a valid value (e.g., 0, 128, 192, ..., 255).");
                            is_error = 1;
                            break;
                        }
                    }
                }
            }
            return is_error;
        }

        function v_PrimaryDNS() {
            var is_error = 0;
            hide_alert();
            if ($("#PrimaryDNS").length > 0) {
                var val_PrimaryDNS = $("#PrimaryDNS").val().trim();
                hide_alert();
                if (val_PrimaryDNS.length > 20) {
                    show_alert("The Primary DNS field must not exceed 20 characters.");
                    is_error = 1;
                }
            }
            return is_error;
        }

        function show_group(s_name_group,emp){
            var val_show=$(emp).attr("value");
            if(val_show=="hide"){
                $(emp).find(".icon_show").attr("src", "public/SVG/ExUp.svg");
                $("."+s_name_group).show();
                $(emp).attr("value","show");
            }else{
                $(emp).find(".icon_show").attr("src", "public/SVG/Down.svg");
                $("."+s_name_group).hide();
                $(emp).attr("value","hide");
            }
        }

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.Ethernet=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Settings'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","PFOP Setting");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>