<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>System Initialisation</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'System Initialisation'}) %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5 pb-5">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Plant Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="PlantName" field_key="PlantName" field_type="emp_inp" field_type_data="string" disabled>                     
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Assembly Line</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="AssemblyLine" field_key="AssenblyLine" field_type="emp_inp" field_type_data="string" disabled>                     
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Station Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="StationName" field_key="StationName" field_type="emp_inp" field_type_data="string" disabled>                     
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Application Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="ApplicationName" field_key="ApplicationName" field_type="emp_inp" field_type_data="string" disabled>                     
                        <span role="button" class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Language</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="English" field_key="language"  field_type_data="string" field_type="emp_inp" > 
                            <option value="English">English</option>
                            <option value="Vietnamese">Vietnamese</option>
                            <option value="French">French</option>
                            <option value="Spanish">Spanish</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Rows Per Page</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="100" field_key="RowsPerPage" field_type="emp_inp" field_type_data="number" disabled>                     
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Screen Orientation</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="Vertical" field_key="ScreenOrientation"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Vertical">Vertical</option>
                            <option value="Horizontal">Horizontal</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" style="min-width: none;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                    <button class="btn btn-warning text-white btn-rounded f-right" onclick="show_factory_reset();return false;">Factory Reset</button>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('p9_alet_warning.ejs') %>
<script>
    function show_edit(emp){
        $(emp).parent().find('img').toggleClass("bg-info rounded");
        $(emp).parent().find('input').each(function () {
            $(this).prop('disabled', !$(this).prop('disabled'));
        });
    }

    function show_factory_reset(){
        var html='';
        html+='<div id="progressbar_ui"><div class="val"></div><div class="label">Resetting to factory settings</div></div>';
        show_msg(html,'Factory Reset',()=>{
            $("#btn_msg_cancel").hide();
        });
    }
</script>
</html>