<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'Wifi Setting and Hotspot'}) %>
    <% const WIFI=jsonData.WIFI%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid pb-5 mb-5">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Mode</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= WIFI && WIFI.Mode ? WIFI.Mode : 'Hotspot' %>" field_key="Mode"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Hotspot" <%= WIFI && WIFI.Mode === 'Hotspot' ? 'selected' : '' %>>Hotspot</option>
                            <option value="Clinet Point" <%= WIFI && WIFI.Mode === 'Clinet Point' ? 'selected' : '' %>>Clinet Point</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">IP Address</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="<%= WIFI && WIFI.IP ? WIFI.IP : '' %>" class="form-control field_data" field_key="IP" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Subnet Mask</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="SubnetMAsk" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Gateway</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="Gateway" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Network SSID</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= WIFI && WIFI.HSSID ? WIFI.HSSID : 'IR' %>" field_key="HSSID"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Hotspot" <%= WIFI && WIFI.HSSID === 'IR' ? 'selected' : '' %>>IR</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Brand Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= WIFI && WIFI.HBand ? WIFI.HBand : '2.4G' %>" field_key="HBand"  field_type_data="string" field_type="emp_inp" > 
                            <option value="2.4G" <%= WIFI && WIFI.HBand === '2.4G' ? 'selected' : '' %>>2.4G</option>
                            <option value="5G" <%= WIFI && WIFI.HBand === '5G' ? 'selected' : '' %>>5G</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Security/EAP Mode</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= WIFI && WIFI.HKey ? WIFI.HKey : 'WPA Enterprise' %>" field_key="HKey"  field_type_data="string" field_type="emp_inp" > 
                            <option value="WPA Personal" <%= WIFI && WIFI.HKey === 'WPA Personal' ? 'selected' : '' %>>WPA Personal</option>
                            <option value="WPA2 Personal" <%= WIFI && WIFI.HKey === 'WPA2 Personal' ? 'selected' : '' %>>WPA2 Personal</option>
                            <option value="WPA3 Personal" <%= WIFI && WIFI.HKey === 'WPA3 Personal' ? 'selected' : '' %>>WPA3 Personal</option>
                            <option value="WPA Enterprise" <%= WIFI && WIFI.HKey === 'WPA Enterprise' ? 'selected' : '' %>>WPA Enterprise</option>
                            <option value="WPA2 Enterprise" <%= WIFI && WIFI.HKey === 'WPA2 Enterprise' ? 'selected' : '' %>>WPA2 Enterprise</option>
                            <option value="WPA3 Enterprise" <%= WIFI && WIFI.HKey === 'WPA3 Enterprise' ? 'selected' : '' %>>WPA3 Enterprise</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Security Key</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="password" placeholder="Enter data" value="<%= WIFI && WIFI.CKey ? WIFI.CKey : '' %>" class="form-control field_data" field_key="CKey" field_type="emp_inp" field_type_data="string" id="CKey" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">DNS Server</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Certificates</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox" value="<%= WIFI && WIFI.Certificates ? WIFI.Certificates : 'CA' %>" field_key="Certificates"  field_type_data="string" field_type="emp_inp" > 
                            <option value="CA" <%= WIFI && WIFI.Certificates === 'CA' ? 'selected' : '' %>>CA</option>
                            <option value="Client" <%= WIFI && WIFI.Certificates === 'Client' ? 'selected' : '' %>>Client</option>
                            <option value="Key" <%= WIFI && WIFI.Certificates === 'Key' ? 'selected' : '' %>>Key</option>
                            <option value="Combined" <%= WIFI && WIFI.Certificates === 'Combined' ? 'selected' : '' %>>Combined</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
            $("#CKey").on("input", v_TorqueTarget);
        });

        function v_TorqueTarget(){
            var is_error=0;
            hide_alert();
            if($("#CKey").length>0){
                var val_ckey=$("#CKey").val();
                hide_alert();
                if(val_ckey.trim()==""){
                    show_alert("The Security Key field cannot be left blank!");
                    is_error=1;
                }
            }
            return is_error;
        }

        function save_data(){
            var obj_s={};
            var val_ckey=$("#CKey").val();
            if(val_ckey.trim()==""){
                show_alert("The Security Key field cannot be left blank!");
                return false;
            }

            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.WIFI=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Settings'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","PFOP Setting");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>