<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PFOP Setting</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'PFOP Setting'}) %>
    <% const PFOP=jsonData.PFOP%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5 pb-5">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Enable Protocol</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= PFOP && PFOP.Enable ? PFOP.Enable : false %>" field_key="Enable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Enable Logs</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= PFOP && PFOP.Logs ? PFOP.Logs : false %>" field_key="Logs" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Tool Enable on Power-up</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= PFOP && PFOP.ToolEnable ? PFOP.ToolEnable : false %>" field_key="ToolEnable" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Cell ID</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="<%= PFOP && PFOP.CellID ? PFOP.CellID : '' %>" class="form-control field_data" field_key="CellID" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Channel ID</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="<%= PFOP && PFOP.ChID ? PFOP.ChID : '' %>" class="form-control field_data" field_key="ChID" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Controller Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="<%= PFOP && PFOP.CtrlName ? PFOP.CtrlName : '' %>" class="form-control field_data" field_key="CtrlName" field_type="emp_inp" field_type_data="string" disabled>
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
    <script>
         var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
        });

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    obj_s[key_emp]=v;
                }
            });
            data_json.PFOP=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Communication'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","PFOP Setting");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>

</html>