<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'AC-ToolsNet Setting'}) %>

    <% const ToolsNet=jsonData.ToolsNet|| {};%>
    <% 
        const timer_seconds = [];
        for (let i = 5; i <= 240; i += 5) {
            timer_seconds.push(`${i} Seconds`);
        }
    %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid pb-5 mb-5">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Enable Protocol</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= ToolsNet && ToolsNet.EnableProtocol ? ToolsNet.EnableProtocol : false %>" field_key="EnableProtocol" field_type="emp_value" field_type_data="bool" id="EnableProtocol"/>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">Enable Logs</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= ToolsNet && ToolsNet.EnableLogs ? ToolsNet.EnableLogs : false %>" field_key="EnableLogs" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">System Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= ToolsNet && ToolsNet.SystemType ? ToolsNet.SystemType : 'Undefined' %>" field_key="SystemType"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Undefined" <%= ToolsNet && ToolsNet.SystemType === 'Undefined' ? 'selected' : '' %>>Undefined</option>
                            <option value="Ingersoll Rand" <%= ToolsNet && ToolsNet.SystemType === 'Ingersoll Rand' ? 'selected' : '' %>>Ingersoll Rand</option>
                        </select>                        
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">PIM IP Address</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= ToolsNet && ToolsNet.PIMIPAddress1 ? ToolsNet.PIMIPAddress1 : '256.256.256.256' %>"  field_key="PIMIPAddress1" field_type="emp_inp"  field_type_data="string" id="PIMIPAddress1">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">PIM IP Address</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= ToolsNet && ToolsNet.PIMIPAddress2 ? ToolsNet.PIMIPAddress2 : '256.256.256.256' %>"  field_key="PIMIPAddress2" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">PIM IP Address</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= ToolsNet && ToolsNet.PIMIPAddress3 ? ToolsNet.PIMIPAddress3 : '256.256.256.256' %>"  field_key="PIMIPAddress3" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">Retry Interval</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= ToolsNet && ToolsNet.RetryInterval ? ToolsNet.RetryInterval : '5 Seconds' %>" field_key="RetryInterval"  field_type_data="string" id="RetryInterval" field_type="emp_inp" > 
                            <% timer_seconds.forEach(function(t) { %>
                                <option value="<%= t %>" <%= ToolsNet && ToolsNet.RetryInterval === t ? 'selected' : '' %>><%= t %></option>
                            <% }); %>
                        </select>                        
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">Keep Alive Timer</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= ToolsNet && ToolsNet.KeepAliveTimer ? ToolsNet.KeepAliveTimer : '30 Seconds' %>" field_key="KeepAliveTimer"  field_type_data="string" field_type="emp_inp" > 
                            <% timer_seconds.forEach(function(t) { %>
                                <option value="<%= t %>" <%= ToolsNet && ToolsNet.KeepAliveTimer === t ? 'selected' : '' %>><%= t %></option>
                            <% }); %>
                        </select>                        
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">Connection Retry Timer</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= ToolsNet && ToolsNet.ConnectionRetryTimer ? ToolsNet.ConnectionRetryTimer : '5 Seconds' %>" field_key="ConnectionRetryTimer"  field_type_data="string" field_type="emp_inp" > 
                            <% timer_seconds.forEach(function(t) { %>
                                <option value="<%= t %>" <%= ToolsNet && ToolsNet.ConnectionRetryTimer === t ? 'selected' : '' %>><%= t %></option>
                            <% }); %>
                        </select>                        
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">System Number</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= ToolsNet && ToolsNet.SystemNumber ? ToolsNet.SystemNumber : 1 %>"  field_key="SystemNumber" field_type="emp_inp"  field_type_data="number" id="SystemNumber">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p r-hide">
                <div class="col-6">
                    <div class="label-txt">Spindle Name</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" class="form-control field_data" value="<%= ToolsNet && ToolsNet.SpindleName ? ToolsNet.SpindleName : 'SpindleName' %>"  field_key="SystemNumber" field_type="emp_inp"  field_type_data="string">
                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="mt-5"></div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
            $("#SystemNumber").on("input", v_SystemNumber);
            $("#PIMIPAddress1").on("input", v_PIMIPAddress1);
            //$("#RetryInterval").on("input", v_RetryInterval);
            check_EnableProtocol();
            $("#EnableProtocol").click(check_EnableProtocol);
        });

        function check_EnableProtocol(){
            var val_EnableProtocol=$("#EnableProtocol").attr("value");
            if(val_EnableProtocol=="true") $(".r-hide").show();
            else $(".r-hide").hide();
        }

        function v_SystemNumber(){
            var is_error=0;
            hide_alert();
            if($("#SystemNumber").length>0){
                var val_SystemNumber=$("#SystemNumber").val();
                hide_alert();
                if(val_SystemNumber.trim()==""){
                    show_alert("The System Number field cannot be left blank!");
                    is_error=1;
                }else if (!/^\d+$/.test(val_SystemNumber) || parseInt(val_SystemNumber, 10) < 0 || parseInt(val_SystemNumber, 10) > 9999) {
                    show_alert('Please enter a number between 0 and 9999.');
                    is_error=1;
                }
            }
            return is_error;
        }

        function v_PIMIPAddress1() {
            var is_error = 0;
            hide_alert();

            if ($("#PIMIPAddress1").length > 0) {
                var val_PIMIPAddress1 = $("#PIMIPAddress1").val().trim();
                hide_alert();

                if (val_PIMIPAddress1 === "") {
                    show_alert("The IP Address field cannot be left blank!");
                    is_error = 1;
                } 
                else if (!/^\d{1,3}(\.\d{1,3}){3}$/.test(val_PIMIPAddress1)) {
                    show_alert("Please enter a valid IP address in the format X.X.X.X (e.g., 192.168.0.1).");
                    is_error = 1;
                } 
                else {
                    var octets = val_PIMIPAddress1.split(".");
                    for (var i = 0; i < octets.length; i++) {
                        if (parseInt(octets[i], 10) < 0 || parseInt(octets[i], 10) > 256) {
                            show_alert("Each segment of the IP address must be between 0 and 256.");
                            is_error = 1;
                            break;
                        }
                    }
                }
            }
            return is_error;
        }

        function v_RetryInterval() {
            var is_error = 0;
            hide_alert();

            if ($("#RetryInterval").length > 0) {
                var val_RetryInterval = $("#RetryInterval").val().trim();
                hide_alert();

                if (val_RetryInterval === "") {
                    $("#RetryInterval").val(5);
                    val_RetryInterval = 5;
                }

                if (!/^\d+$/.test(val_RetryInterval) || parseInt(val_RetryInterval, 10) < 5 || parseInt(val_RetryInterval, 10) > 240) {
                    show_alert("Please enter a number between 5 and 240.");
                    is_error = 1;
                }
            }
            return is_error;
        }

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.ToolsNet=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Communication'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","AC-ToolsNet Setting");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>