<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fieldbus Settings</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <a href="/home"><img id="btn_back_menu_top" src="/public/SVG/Back.svg" /></a>
                            <h2 class="text-white">Fieldbus Settings</h2>
                            <div class="breadcrumb"><a class="nav1" href="/home">Home</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Fieldbus Settings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% const Fieldbus=jsonData.Fieldbus|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5 pb-5">

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Fieldbus Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= Fieldbus && Fieldbus.FieldbusType ? Fieldbus.FieldbusType : 'None' %>" field_key="FieldbusType"  field_type_data="string" field_type="emp_inp" > 
                            <option value="None" <%= Fieldbus && Fieldbus.FieldbusType === 'None' ? 'selected' : '' %>>None</option>
                            <option value="Ethernet IP" <%= Fieldbus && Fieldbus.FieldbusType === 'Ethernet IP' ? 'selected' : '' %>>Ethernet IP</option>
                            <option value="Profinet" <%= Fieldbus && Fieldbus.FieldbusType === 'Profinet' ? 'selected' : '' %>>Profinet</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p field_group_port1">
                <div class="col-6">
                    <div class="label-txt">Remote Tool Enable Mode</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= Fieldbus && Fieldbus.RemoteToolEnableMode ? Fieldbus.RemoteToolEnableMode : 'None' %>" field_key="RemoteToolEnableMode"  field_type_data="string" field_type="emp_inp" > 
                            <option value="None" <%= Fieldbus && Fieldbus.RemoteToolEnableMode === 'None' ? 'selected' : '' %>>None</option>
                            <option value="1 Line" <%= Fieldbus && Fieldbus.RemoteToolEnableMode === '1 Line' ? 'selected' : '' %>>1 Line</option>
                            <option value="2 Line" <%= Fieldbus && Fieldbus.RemoteToolEnableMode === '2 Line' ? 'selected' : '' %>>2 Line</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Enable Logs</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Fieldbus && Fieldbus.EnableLogs ? Fieldbus.EnableLogs : false %>" field_key="EnableLogs" field_type="emp_value"  field_type_data="bool" />
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Barcode Pass Through</div>
                </div>
                <div class="col-6">
                    <img src="/public/SVG/Off.svg" style="float: right;width: 42px;" role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= Fieldbus && Fieldbus.BarcodePassThrough ? Fieldbus.BarcodePassThrough : false %>" field_key="BarcodePassThrough" field_type="emp_value"  field_type_data="bool" />
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-4">
                    <div class="label-txt">Fieldbus IO Settings</div>
                </div>

                <div class="col-2">
                    <div class="row">
                        <span class="col mt-3 mb-3" style="color:darkgray;">Input : 0/256 </span>
                        <span class="col mt-3 mb-3" style="color:darkgray;">Output : 0/256 </span>
                    </div>
                </div>

                <div class="col-6">
                    <a href="fieldbus_io_setting"><img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/></a>
                </div>
            </div>

            <div class="row row-p mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Firldbus Diagnostics</div>
                </div>

                <div class="col-6">
                    <a href="home"><img src="/public/SVG/Right.svg" style="float: right" class="mb-2 mt-3"/></a>
                </div>
            </div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            $(".field_group_port2").hide();
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });

        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        function show_group(s_name_group,emp){
            var val_show=$(emp).attr("value");
            if(val_show=="hide"){
                $(emp).find(".icon_show").attr("src", "public/SVG/ExUp.svg");
                $("."+s_name_group).show();
                $(emp).attr("value","show");
            }else{
                $(emp).find(".icon_show").attr("src", "public/SVG/Down.svg");
                $("."+s_name_group).hide();
                $(emp).attr("value","hide");
            }
        }

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.Fieldbus=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Communication'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Fieldbus Settings");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>