<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fieldbus IO Settings</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <a href="/home"><img id="btn_back_menu_top" src="/public/SVG/Back.svg"/></a>
                            <h2 class="text-white">Fieldbus IO Settings</h2>
                            <div class="breadcrumb"><a class="nav1" href="/home">Home</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Fieldbus IO Settings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% const FieldbusIO=jsonData.FieldbusIO|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-p">
                <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="label-txt">Input/Output</div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FieldbusIO && FieldbusIO.Type ? FieldbusIO.Type : 'Input/Output' %>" field_key="Type"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Input/Output" <%= FieldbusIO && FieldbusIO.Type === 'Input/Output' ? 'selected' : '' %>>Input/Output</option>
                            <option value="Input" <%= FieldbusIO && FieldbusIO.Type === 'Input' ? 'selected' : '' %>>Input</option>
                            <option value="Output" <%= FieldbusIO && FieldbusIO.Type === 'Output' ? 'selected' : '' %>>Output</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">&nbsp;</div>
            </div>

            <div class="row row-none mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Input Bytes Assignment</div>
                </div>

                <div class="col-6">
                    <button class="btn btn-info text-white btn-rounded f-right mt-3" onclick="show_add_byte('in');return false;"><img src="/public/SVG/Add.svg" >Add Input Bytes Assignment</button>
                </div>
            </div>

            <table class="table table-lg table-dark table-bordered table-p-list mb-5">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_id">Byte</th>
                    <th>Bit</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="table_in"></tbody>
            </table>


            <div class="row row-none mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Output Bytes Assignment</div>
                </div>

                <div class="col-6">
                    <button class="btn btn-info text-white btn-rounded f-right mt-3" onclick="show_add_byte('out');return false;"><img src="/public/SVG/Add.svg" >Add Output Bytes Assignment</button>
                </div>
            </div>

            <table class="table table-lg table-dark table-bordered table-p-list mb-5">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_id">Byte</th>
                    <th>Bit</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="table_out"></tbody>
            </table>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');
        var count_byte_in=0;
        var count_byte_out=0;

        $(document).ready(()=>{
            load_data();
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });

        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        function add_byte_row(index,type){
            var emp_row=$(`
            <tr>
                        <td>${index}</td>
                        <td class="list_btn_bit pt-3" style="text-align: right;">
                            <span class="btn_0" id="bit_${type}_${index}_0">0</span>
                            <span class="btn_1" id="bit_${type}_${index}_1">1</span>
                            <span class="btn_2" id="bit_${type}_${index}_2">2</span>
                            <span class="btn_3" id="bit_${type}_${index}_3">3</span>
                            <span class="btn_4" id="bit_${type}_${index}_4">4</span>
                            <span class="btn_5" id="bit_${type}_${index}_5">5</span>
                            <span class="btn_6" id="bit_${type}_${index}_6">6</span>
                            <span class="btn_7" id="bit_${type}_${index}_7">7</span>
                        </td>
                        <td><img role="button" class="btn-del" src="/public/SVG/Trash.svg"></td>
            </tr>`);
            var btn_del=$(emp_row).find(".btn-del");
            $(btn_del).click(function(){
                show_msg('Are you sure you want to delete selected Byte?','<img src="/public/SVG/Warning.svg"/> Warning',()=>{
                    $("#btn_msg_done").click(()=>{
                        if(type=='in') 
                            data_json.Fieldbus.IO.IByteCount--;
                        else
                            data_json.Fieldbus.IO.OByteCount--;
                        remove_index_byte(index,type);
                        load_data();
                        close_msg();
                    }).removeClass("btn-info").addClass("btn-danger");
                },"Delete");

            });

            for(let i=0;i<=7;i++){
                let btn_bit=$(emp_row).find(".btn_"+i);
                $(btn_bit).click(function(){
                    var html='';
                    html+='<div class="row">';
                        html+='<div class="col-6">';
                            html+='<div class="label-txt">Behavior</div>';
                        html+='</div>';
                        html+='<div class="col-6">';
                            html+='<div class="input-group r border mb-2 mt-2">';
                                html+='<span class="input-group-text r-left">&nbsp;</span>';
                                html+='<select class="form-select custom-combobox" id="bit_Behavior">';
                                    html+='<option value="None">None</option>';
                                    for(var y=1;y<=32;y++){
                                        html+='<option value="job '+y+'">job '+y+'</option>';
                                    }
                                    html+='<option value="Spindle Enable">Spindle Enable</option>';
                                    html+='<option value="Disable Reverse">Disable Reverse</option>';
                                    html+='<option value="Acknowledge Reject">Acknowledge Reject</option>';
                                    html+='<option value="Start">Start</option>';
                                    html+='<option value="Forward">Forward</option>';
                                    html+='<option value="Reverse">Reverse</option>';
                                    html+='<option value="Stop">Stop</option>';
                                    html+='<option value="Batch reset">Batch reset</option>';
                                    html+='<option value="Batch Advance">Batch Advance</option>';
                                    html+='<option value="Job reset">Job reset</option>';
                                    html+='<option value="Safety latch">Safety latch</option>';
                                    html+='<option value="Reset Output">Reset Output</option>';
                                    html+='<option value="Advance Tightening Operation">Advance Tightening Operation</option>';
                                    for(var y=1;y<=32;y++){
                                        html+='<option value="Socket '+y+'">Socket '+y+'</option>';
                                    }
                                    html+='<option value="Abort Job">Abort Job</option>';
                                    for(var y=1;y<=8;y++){
                                        html+='<option value="User '+y+'">User '+y+'</option>';
                                    }
                                    html+='<option value="Reset To Pset">Reset To Pset</option>';
                                    html+='<option value="Barcode Rescan Tool Unlock">Barcode Rescan Tool Unlock</option>';
                                    html+='<option value="External Event Stop">External Event Stop</option>';
                                    html+='<option value="PLC Ready">PLC Ready</option>';
                                    html+='<option value="Bypass MES with JOB 256">Bypass MES with JOB 256</option>';
                                html+='</select>';
                                html+='<span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>';
                            html+='</div>';
                        html+='</div>';
                    html+='</div>';

                    html+='<div class="row">';
                        html+='<div class="col-6">';
                            html+='<div class="label-txt">Polarity</div>';
                        html+='</div>';
                        html+='<div class="col-6">';
                            html+='<div class="input-group r border mb-2 mt-2">';
                                html+='<span class="input-group-text r-left">&nbsp;</span>';
                                html+='<select class="form-select custom-combobox" id="bit_Polarity">';
                                    html+='<option value="Normally Open">Normally Open</option>';
                                    html+='<option value="Normally Close">Normally Close</option>';
                                html+='</select>';
                                html+='<span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>';
                            html+='</div>';
                        html+='</div>';
                    html+='</div>';

                    show_msg(html,"Input Byte "+index+", Bit "+i,()=>{
                        $("#box_msg").css("width","510px");
                        $("#btn_msg_done").click(()=>{
                            var bit_Behavior = $('#bit_Behavior').prop('selectedIndex');
                            var objLs={};
                            objLs.Index=index;
                            objLs.Bit=i;
                            objLs.Length=0;
                            objLs.BehaviorID=bit_Behavior;
                            objLs.Behavior=$("#bit_Behavior").val();
                            objLs.PolarityID=0;
                            objLs.Polarity=$("#bit_Polarity").val();

                            if(type=='in'){
                                if(data_json.Fieldbus.IO.lsIn==undefined) data_json.Fieldbus.IO.lsIn=[];
                                data_json.Fieldbus.IO.lsIn.push(objLs);
                            }else{
                                if(data_json.Fieldbus.IO.lsOut==undefined) data_json.Fieldbus.IO.lsOut=[];
                                data_json.Fieldbus.IO.lsOut.push(objLs);
                            }
                            close_msg();
                            $(btn_bit).addClass("active");
                        });
                    },"OK");
                });
            }
            return emp_row;
        }

        function save_data(is_show_msg=true){
            data_json.Fieldbus.IO.InType=generateInTypeArray(data_json.Fieldbus.IO.IByteCount);
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Communication'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Fieldbus IO Settings");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function show_add_byte(type='in'){
            var html='';
            html='<div class="row">';
                html+='<div class="col-6"><div class="label-txt">Input/Output</div></div>';
                html+='<div class="col-6">';
                    html+='<div class="input-group r border mb-2 mt-2">';
                        html+='<span class="input-group-text r-left">&nbsp;</span>';
                        if(type=='in')
                            html+='<input type="text" placeholder="Input" value="Input" class="form-control" disabled>';
                        else
                            html+='<input type="text" placeholder="Output" value="Output" class="form-control" disabled>';
                        html+='<span class="input-group-text r-right">&nbsp;</span>';
                    html+='</div>';
                html+='</div>';
            html+='</div>';

            html+='<div class="row">';
                html+='<div class="col-6">';
                    html+='<div class="label-txt">Type</div>';
                html+='</div>';
                html+='<div class="col-6">';
                    html+='<div class="input-group r border mb-2 mt-2">';
                        html+='<span class="input-group-text r-left">&nbsp;</span>';
                        html+='<select class="form-select custom-combobox">';
                            html+='<option value="Bit">Bit</option>';
                            html+='<option value="BCODE/VIN">BCODE/VIN</option>';
                        html+='</select>';
                        html+='<span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>';
                    html+='</div>';
                html+='</div>';
            html+='</div>';

            html+='<div class="row">';
                html+='<div class="col-6"><div class="label-txt">Byte(s)</div></div>';
                html+='<div class="col-6">';
                    html+='<div class="input-group r border mb-2 mt-2">';
                        html+='<span class="input-group-text r-left">&nbsp;</span>';
                        html+='<input type="text" placeholder="Input" value="1" class="form-control" id="num_val_byte"/>';
                        html+='<span class="input-group-text r-right"><span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span></span>';
                    html+='</div>';
                html+='</div>';
            html+='</div>';

            html+='<div class="row text-center">';
                html+='<div class="col-12"><div class="label-txt"><b>* Avalilable number of input Bytes \'253\'*</b></div></div>';
            html+='</div>';

            show_msg(html,"Show Add Byte",()=>{
                $("#box_msg").css("width","490px");
                $("#btn_msg_done").click(()=>{
                    var num_val_byte=Number($("#num_val_byte").val());
                    close_msg();
                    for(var i=0;i<num_val_byte;i++){
                        if(type=='in'){
                            data_json.Fieldbus.IO.IByteCount++;
                        }
                        else{
                            data_json.Fieldbus.IO.OByteCount++;
                        }
                    }
                    load_data();
                });
            },"Ok");
        }

        function load_data(){
            $("#table_in").empty();
            $("#table_out").empty();
            if(data_json.Fieldbus.IO==undefined) {
                data_json.Fieldbus.IO={};
                data_json.Fieldbus.IO.IByteCount=0;
                data_json.Fieldbus.IO.OByteCount=0;
                data_json.Fieldbus.IO.ITypeCount=0;
                data_json.Fieldbus.IO.OTypeCount=0;
                data_json.Fieldbus.IO.In="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==";
                data_json.Fieldbus.IO.Out="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==";
                data_json.Fieldbus.IO.InType=[];
                data_json.Fieldbus.IO.OutType=[];
                data_json.Fieldbus.IO.lsIn=[];
                data_json.Fieldbus.IO.lsOut=[];
            }else{
                if(data_json.Fieldbus.IO.IByteCount!=0){
                    for(let i=0;i<data_json.Fieldbus.IO.IByteCount;i++){
                        $("#table_in").append(add_byte_row(i,'in'));
                    }

                    if(data_json.Fieldbus.IO.lsIn!=null){
                        $(data_json.Fieldbus.IO.lsIn).each(function(index,bit){
                            $("#bit_in_"+bit.Index+"_"+bit.Bit).addClass("active");
                        });
                    }
                }

                if(data_json.Fieldbus.IO.OByteCount!=0){
                    for(let i=0;i<data_json.Fieldbus.IO.OByteCount;i++){
                        $("#table_out").append(add_byte_row(i,'out'));
                    }

                    if(data_json.Fieldbus.IO.lsOut!=null){
                        $(data_json.Fieldbus.IO.lsOut).each(function(index,bit){
                            $("#bit_out_"+bit.Index+"_"+bit.Bit).addClass("active");
                        });
                    }
                }
            }
        }

        function generateInTypeArray(ITypeCount) {
            var InType = [];
            for (var i = 0; i < 256; i++) {
                if (i < ITypeCount) {
                    InType.push(1 + i * 256);
                } else {
                    InType.push(0);
                }
            }
            return InType;
        }

        function remove_index_byte(index,type) {
            if(type=='in'){
                data_json.Fieldbus.IO.InType.splice(index, 1);
                var nonZeroElements = data_json.Fieldbus.IO.InType.filter(function (value) {
                    return value !== 0;
                });
                var zeroElements = data_json.Fieldbus.IO.InType.filter(function (value) {
                    return value === 0;
                });
                data_json.Fieldbus.IO.InType = nonZeroElements.concat(zeroElements);
            }else{
                data_json.Fieldbus.IO.OutType.splice(index, 1);
                var nonZeroElements = data_json.Fieldbus.IO.OutType.filter(function (value) {
                    return value !== 0;
                });
                var zeroElements = data_json.Fieldbus.IO.OutType.filter(function (value) {
                    return value === 0;
                });
                data_json.Fieldbus.IO.OutType = nonZeroElements.concat(zeroElements);
            }
        }
    </script>
</body>
</html>