<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fieldbus IO Settings</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
    <%- include('menu_sidebar') %>

    <div class="p-1 px-md-4 mb-1 box-shadow" id="bar_menu_top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-11">
                            <a href="/home"><img id="btn_back_menu_top" src="/public/SVG/Back.svg"/></a>
                            <h2 class="text-white">Fieldbus IO Settings</h2>
                            <div class="breadcrumb"><a class="nav1" href="/home">Home</a> <img style="width: 10px;height: 10px;margin: 6px;" src="/public/SVG/ArrowForward.svg"> Fieldbus IO Settings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% const FieldbusIO=jsonData.FieldbusIO|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <div class="row row-p">
                <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="label-txt">Input/Output</div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FieldbusIO && FieldbusIO.Type ? FieldbusIO.Type : 'Input/Output' %>" field_key="Type"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Input/Output" <%= FieldbusIO && FieldbusIO.Type === 'Input/Output' ? 'selected' : '' %>>Input/Output</option>
                            <option value="Input" <%= FieldbusIO && FieldbusIO.Type === 'Input' ? 'selected' : '' %>>Input</option>
                            <option value="Output" <%= FieldbusIO && FieldbusIO.Type === 'Output' ? 'selected' : '' %>>Output</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">&nbsp;</div>
            </div>

            <div class="row row-none mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Input Bytes Assignment</div>
                </div>

                <div class="col-6">
                    <button class="btn btn-info text-white btn-rounded f-right mt-3"><img src="/public/SVG/Add.svg" >Add Input Bytes Assignment</button>
                </div>
            </div>

            <table class="table table-lg table-dark table-bordered table-p-list mb-5">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_id">Byte</th>
                    <th>Bit</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="list_btn_bit" style="text-align: right;">
                            <span>0</span>
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                            <span>6</span>
                            <span>7</span>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="list_btn_bit" style="text-align: right;">
                            <span class="active">0</span>
                            <span class="active">1</span>
                            <span class="active">2</span>
                            <span class="active">3</span>
                            <span class="active">4</span>
                            <span class="active">5</span>
                            <span class="active">6</span>
                            <span class="active">7</span>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="row row-none mt-3 mb-3">
                <div class="col-6">
                    <div class="label-txt">Output Bytes Assignment</div>
                </div>

                <div class="col-6">
                    <button class="btn btn-info text-white btn-rounded f-right mt-3"><img src="/public/SVG/Add.svg" >Add Output Bytes Assignment</button>
                </div>
            </div>

            <table class="table table-lg table-dark table-bordered table-p-list mb-5">
                <thead>
                  <tr>
                    <th scope="col" class="col_tb_id">Byte</th>
                    <th>Bit</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="list_btn_bit" style="text-align: right;">
                            <span>0</span>
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                            <span>6</span>
                            <span>7</span>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="list_btn_bit" style="text-align: right;">
                            <span class="active">0</span>
                            <span class="active">1</span>
                            <span class="active">2</span>
                            <span class="active">3</span>
                            <span class="active">4</span>
                            <span class="active">5</span>
                            <span class="active">6</span>
                            <span class="active">7</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false;">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            $(".field_group_port2").hide();
            $("select").change(function(){
                var val=$(this).attr("value");
               $(this).attr("value",val);
            });

            $(".btn_switch").each(function(){
                if ($(this).attr("value")=="true")
                    $(this).attr("src", "/public/SVG/On.svg");
                else 
                    $(this).attr("src", "/public/SVG/Off.svg");
            });

            $(".btn_switch").click(function(){
                var val_emp=$(this).attr("value");
                if(val_emp=="true"){
                    $(this).attr("src", "/public/SVG/Off.svg");
                    $(this).attr("value",false);
                }else{
                    $(this).attr("src", "/public/SVG/On.svg");
                    $(this).attr("value",true);
                }
            });
        });

        function show_edit(emp){
            $(emp).parent().find('img').toggleClass("bg-info rounded");
            $(emp).parent().find('input').each(function () {
                $(this).prop('disabled', !$(this).prop('disabled'));
            });
        }

        function show_group(s_name_group,emp){
            var val_show=$(emp).attr("value");
            if(val_show=="hide"){
                $(emp).find(".icon_show").attr("src", "public/SVG/ExUp.svg");
                $("."+s_name_group).show();
                $(emp).attr("value","show");
            }else{
                $(emp).find(".icon_show").attr("src", "public/SVG/Down.svg");
                $("."+s_name_group).hide();
                $(emp).attr("value","hide");
            }
        }

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.FieldbusIO=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Settings'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Fieldbus IO Settings");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>