<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Backup and Restore</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'Backup and Restore'}) %>
    <% const BackupAndRestore=jsonData.BackupAndRestore|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Settings</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= BackupAndRestore && BackupAndRestore.Settings ? BackupAndRestore.Settings : false %>" field_key="Settings" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Ethernet Settings</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/On.svg" style="float: right;width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="<%= BackupAndRestore && BackupAndRestore.EthernetSettings ? BackupAndRestore.EthernetSettings : false %>" field_key="EthernetSettings" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>

        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
        });

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.BackupAndRestore=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'System'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","Backup and Restore");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>

</html>