<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'Firmware Upgrade'}) %>
    <% const FirmwareUpgrade=jsonData.FirmwareUpgrade|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid pb-5 mb-5">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Update Type</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= FirmwareUpgrade && FirmwareUpgrade.UpdateType ? FirmwareUpgrade.UpdateType : 'Controller Update' %>" field_key="UpdateType"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Controller Update" <%= FirmwareUpgrade && FirmwareUpgrade.UpdateType === 'Controller Update' ? 'selected' : '' %>>Controller Update</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Controller Update</div>
                </div>
                <div class="col-6">
                    <div class="label-txt" style="float: right;">200.000.000.009</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">MCE Version</div>
                </div>
                <div class="col-6">
                    <div class="label-txt" style="float: right;">001.003.001</div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Firmware</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="file" placeholder="Enter data" value="Firmware" class="form-control">                    
                        <span class="input-group-text r-right"><img src="/public/SVG/upload2.svg"/></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="update_firmware();return false;">Update</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
        });

        function update_firmware(){
            var html='';
            html+='<div id="progressbar_ui"><div class="val"></div><div class="label">Vaiidating IRB File</div></div>';
            show_msg(html,'Update Firmware',()=>{
                $("#btn_msg_cancel").addClass("btn-warning").addClass("text-white");
            });
        }
    </script>
</body>
</html>