<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head_full',{title:'Fieldbus Settings',
    emp_extension:`
                        <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3 r border w-100 mt-3 p-0" style="border: unset !important;">
                                <span class="input-group-text r-left">&nbsp;</span>
                                <select class="form-select custom-combobox">
                                    <option value="" disabled selected hidden>All Devices</option>
                                </select>
                                <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                            </div>
                        </div>
                    </div>
    `}) %>
    <!-- Main Content Full Width -->
    <main class="">
        <div class="container-fluid">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Baud Rate</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="9600" field_key="BaudRate"  field_type_data="number" field_type="emp_inp"> 
                            <option value="9600">9600</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Parity</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="None" field_key="Parity"  field_type_data="string" field_type="emp_inp"> 
                            <option value="None">None</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Stop Bits</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="1" field_key="StopBits"  field_type_data="number" field_type="emp_inp"> 
                            <option value="1">1</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Data Bits</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="1" field_key="DataBits"  field_type_data="number" field_type="emp_inp"> 
                            <option value="1">1</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="return false;">Save</button>
                    <a href="accessories" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
</body>

</html>