<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head',{title:'Barcode String'}) %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid pm-5 mb-5">

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">String</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <input type="text" placeholder="Enter data" value="BarcodeString1" class="form-control">
                        <span class="input-group-text r-right"><img src="/public/SVG/Edit2.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Job Selection</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="Identifier1" field_key="JobSelection"  field_type_data="string" field_type="emp_inp" > 
                            <option value="Identifier1">Identifier1</option>
                        </select>  
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Start</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="1" field_key="Start"  field_type_data="number" field_type="emp_inp" > 
                            <option value="1">1</option>
                        </select>  
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">End</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="1" field_key="End"  field_type_data="number" field_type="emp_inp" > 
                            <option value="1">1</option>
                        </select>  
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6">
                    <div class="label-txt">Wildcard Character</div>
                </div>
                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="1" field_key="WildcardCharacter"  field_type_data="number" field_type="emp_inp" > 
                            <option value="1">1</option>
                        </select>  
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-none">
                <div class="col-6">
                    <div class="label-txt">Identifiers</div>
                </div>
                <div class="col-6">
                    <a href="" style="float: right;" class="mb-2 mt-3"><img src="/public/SVG/Add.svg"/></a>
                </div>
            </div>

            <div class="row row-p">
                <div class="col-6  col-md-2 col-lg-2 col-xl-2">
                    <div class="label-txt">Free Order</div>
                </div>
                <div class="col-6  col-md-10 col-lg-10 col-xl-10">
                    <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="key_bool" field_type="emp_value" field_type_data="bool"/>
                </div>
            </div>  
            
            <div class="row row-none">
                <div class="col-12 p-0">
                    <table class="table table-lg table-dark table-bordered table-p-list w-100">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th>Length</th>
                            <th>Length Check</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col_tb_30p">
                                    <div class="input-group r border mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string">
                                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                                    </div>
                                </td>
                                <td class="col_tb_20p">
                                    <div class="input-group r border mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string">
                                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                                    </div>
                                </td>
                                <td class="col_tb_30p">
                                    <div class="input-group r border mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string">
                                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                                    </div>
                                </td>
                                <td class="col_tb_20p" style="text-align: right;">
                                    <a href="#"><img class="mt-3" src="/public/SVG/Trash.svg"></a>
                                    <a href="#"><img class="mt-3" src="/public/SVG/Move.svg"></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-6  col-md-2 col-lg-2 col-xl-2">
                                            <div class="label-txt">Ignore Duplicate Scan</div>
                                        </div>
                                        <div class="col-6  col-md-10 col-lg-10 col-xl-10">
                                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="key_bool" field_type="emp_value" field_type_data="bool"/>
                                        </div>
                                    </div>  
                                </td>
                            </tr>

                            <tr>
                                <td class="col_tb_30p">
                                    <div class="input-group r border mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string">
                                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                                    </div>
                                </td>
                                <td class="col_tb_20p">
                                    <div class="input-group r border mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string">
                                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                                    </div>
                                </td>
                                <td class="col_tb_30p">
                                    <div class="input-group r border mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <input type="text" placeholder="Enter data" value="" class="form-control" field_key="" field_type="emp_inp" field_type_data="string">
                                        <span role="button" class="input-group-text r-right" onclick="show_edit(this)"><img src="/public/SVG/Edit2.svg"/></span>
                                    </div>
                                </td>
                                <td class="col_tb_20p" style="text-align: right;">
                                    <a href="#"><img class="mt-3" src="/public/SVG/Trash.svg"></a>
                                    <a href="#"><img class="mt-3" src="/public/SVG/Move.svg"></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-6  col-md-2 col-lg-2 col-xl-2">
                                            <div class="label-txt">Ignore Duplicate Scan</div>
                                        </div>
                                        <div class="col-6  col-md-10 col-lg-10 col-xl-10">
                                           <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="key_bool" field_type="emp_value" field_type_data="bool"/>
                                        </div>
                                    </div>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="mt-5">&nbsp;</div>
        </div>
    </main>

    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('p9_alet_warning.ejs') %>
    <script>
        $(document).ready(()=>{
            load_ui_event();
        });

        function save_data(){
            show_msg("Update success!","Barcode");
        }
    </script>
</body>
</html>