<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Alarm</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head', { title: 'PM Alarm'}) %>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid">
            <table class="table table-lg table-dark table-bordered table-p-list">
                <thead>
                  <tr>
                    <th scope="col" style="width: 10%;">ID</th>
                    <th style="width: 20%;">Alarm</th>
                    <th>Name</th>
                    <th style="width: 20%;">Status</th>
                    <th style="min-width: 10%;">Action</th>
                  </tr>
                </thead>
                <tbody id="all_items"></tbody>
            </table>
        </div>
    </main>
    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        function row_p(data){
            var html='';
            html+='<tr>';
                html+='<td scope="row">'+(data.index+1)+'</td>';
                html+='<td>'+data.Alarm+'</td>';
                html+='<td>'+data.AlarmName+'</td>';
                if(data.EnableAlarm){
                    html+='<td>Active</td>';
                }else{
                    html+='<td>Inactive</td>';
                }
                html+='<td>';
                    html+='<a href="edit_alarm?index_edit='+data.index+'"><img src="/public/SVG/Edit.svg"></a>';
                html+='</td>';
            html+='</tr>';
            return $(html);
        }

        $(document).ready(()=>{
            $(data_json.PmAlarm.Item).each(function(index,alm){
                alm.index=index;
                $("#all_items").append(row_p(alm));
            });
        });
    </script>
</body>
</html>