<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head', { title: 'DIO'}) %>
    <% const dio=jsonData.dio|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5 pb-5">

            <div class="row row-p" value="hide">
                <div class="col-6">
                    <div class="label-txt">Remote Tool Enable Mode</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="form-select custom-combobox field_data" value="<%= dio && dio.RemoteToolEnableMode ? dio.RemoteToolEnableMode : 'None' %>" field_key="RemoteToolEnableMode"  field_type_data="string" field_type="emp_inp" > 
                            <option value="None" <%= dio && dio.RemoteToolEnableMode === 'None' ? 'selected' : '' %>>None</option>
                        </select>                        
                        <span class="input-group-text r-right"><img src="/public/SVG/Dropdown.svg"/></span>
                    </div>
                </div>
            </div>

            <div class="row row-h" value="hide">
                <div class="col-6">
                    <div class="label-txt">Add Source</div>
                </div>
                <div class="col-6">
                    <a href="dio_edit"><img src="/public/SVG/Add.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/></a>
                </div>
            </div>

            <div class="row row-p" value="hide">
                <div class="col-10">
                    <div class="label-txt">1. DIO (8X8)</div>
                </div>

                <div class="col-2" style="border-left: solid 2px #4d4d4d;">
                    <a href="dio_edit"><img src="/public/SVG/Edit.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/></a>
                    <img src="/public/SVG/Trash.svg" role="button" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

        </div>
    </main>
    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
        });

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.dio=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Communication'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","DIO");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }
    </script>
</body>

</html>