<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSIGHTiqi</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/index.css?v=<%= ver %>" rel="stylesheet" />
    <link rel="stylesheet" href="/public/lib/bootstrap/bootstrap.min.css">
    <script src="/public/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/public/js/app_web.js?v=<%= ver %>"></script>
</head>

<body class="brown">
 
    <%- include('menu_sidebar') %>
    <%- include('bar_head', {
            title: 'DIO Source',
            navs:[
                {label:'DIO',link:'dio'},
            ],
            back:'dio'
        }) %>
    <% const DioSource=jsonData.dio|| {};%>
    <!-- Main Content Full Width -->
    <main>
        <div class="container-fluid mb-5 pb-5">

            <div class="row row-p" value="hide">
                <div class="col-6">
                    <div class="label-txt">Source</div>
                </div>

                <div class="col-6">
                    <div class="input-group r border mb-2 mt-2">
                        <span class="input-group-text r-left">&nbsp;</span>
                        <select class="select_val form-select custom-combobox field_data" value="<%= DioSource && DioSource.Source ? DioSource.Source : 'None' %>" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                            <option value="DIO (8X8)" <%= DioSource && DioSource.Source === 'None' ? 'selected' : '' %>>DIO (8X8)</option>
                        </select>                        
                        <span class="input-group-text r-right">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="row row-h" role="button" onclick="show_group('field_group_asst',this);return false;" value="show">
                <div class="col-6">
                    <div class="label-txt">Input Assignment</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/ExUp.svg" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>
            
            <div class="row field_group_asst">
            <table class="table table-lg table-dark table-bordered table-p-list m-0">
                <thead>
                  <tr>
                    <th class="col_tb_80p">Behaviour</th>
                    <th class="col_tb_20p">Normally Open</th>
                  </tr>
                </thead>
                <tbody id="all_items">
                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">1</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 1</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">2</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 2</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">3</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 3</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">4</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 4</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">5</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 1</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">6</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 1</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">7</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 1</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="row">
                                <div class="col-1 text-center p-3">8</div>
                                <div class="col-11">
                                    <div class="input-group r border w-50 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                        <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source"  field_type_data="string" field_type="emp_inp" > 
                                            <option value="Job 1">Job 1</option>
                                        </select>                        
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="row row-h" role="button" onclick="show_group('field_group_out_asst',this);return false;" value="show">
                <div class="col-6">
                    <div class="label-txt">Output Assignment</div>
                </div>

                <div class="col-6">
                    <img src="/public/SVG/ExUp.svg" style="float: right;" class="mb-2 mt-3 icon_show"/>
                </div>
            </div>

            <div class="row field_group_out_asst">
                <table class="table table-lg table-dark table-bordered table-p-list m-0">
                    <thead>
                        <tr>
                            <th class="col_tb_30p">Behaviour</th>
                            <th class="col_tb_30p">Spindel ID</th>
                            <th class="col_tb_30p">Timeout</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i <= 7; i++) { %>
                            <tr>
                                <td >
                                    <div class="row">
                                        <div class="col-1 text-center p-3"><%= i %></div>
                                        <div class="col-11">
                                            <div class="input-group r border w-100 mb-2 mt-2">
                                                <span class="input-group-text r-left">&nbsp;</span>
                                                <select class="select_val form-select custom-combobox field_data" value="None" field_key="Source<%= i %>"  field_type_data="string" field_type="emp_inp" > 
                                                    <option value="Job 1">Job 1</option>
                                                </select>                        
                                                <span class="input-group-text r-right">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td >
                                    <div class="input-group r border w-100 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                            <select class="select_val form-select custom-combobox field_data" value="None" field_key="Powwerhead<%= i %>"  field_type_data="string" field_type="emp_inp" > 
                                                <option value="Powwerhead">Powwerhead</option>
                                            </select>
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </td>
                                <td >
                                    <div class="input-group r border w-100 mb-2 mt-2">
                                        <span class="input-group-text r-left">&nbsp;</span>
                                            <select class="select_val form-select custom-combobox field_data" value="None" field_key="Timeout<%= i %>"  field_type_data="string" field_type="emp_inp" > 
                                                <option value="0">0</option>
                                            </select>
                                        <span class="input-group-text r-right">&nbsp;</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="label-txt">Normally Open</div>
                                        </div>
                                        <div class="col-3">
                                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                                        </div>
                                        <div class="col-3 border-left" style="border-left: 1px solid #4d5154;">
                                            <div class="label-txt">Blink</div>
                                        </div>
                                        <div class="col-3">
                                            <img src="/public/SVG/On.svg" style="width: 42px;"  role="button" class="mb-2 mt-3 field_data btn_switch" value="false" field_key="EnableDio" field_type="emp_value" field_type_data="bool"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
    <div id="menu_footer" class="fixed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-info text-white btn-rounded f-right" onclick="save_data();return false">Save</button>
                    <a href="home" class="btn btn-secondary text-white btn-rounded f-right">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('p9_alet_warning.ejs') %>
    <script>
        var data_json= JSON.parse('<%- JSON.stringify(jsonData) %>');

        $(document).ready(()=>{
            load_ui_event();
        });

        function save_data(){
            var obj_s={};
            $(".field_data").each(function (index, emp) {
                var key_emp = $(emp).attr("field_key");
                var type_emp = $(emp).attr("field_type");
                var type_data = $(emp).attr("field_type_data");
                if (key_emp !== undefined) {
                    var v='';
                    if(type_emp=="emp_value")
                        v=$(emp).attr("value");
                    else
                        v= $(emp).val();

                    if(type_data=="number") v=Number(v);
                    if(type_data=="bool") v=(v?.toLowerCase?.() === 'true');

                    if(key_emp!="") obj_s[key_emp]=v;
                }
            });
            data_json.dio=obj_s;
            $.ajax({
                url: '/save-json',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_json: data_json,
                    file_name: 'Communication'
                }),
                success: function(response) {
                    console.log(response.message);
                    show_msg("Update success","DIO Source");
                },
                error: function(error) {
                    console.log(error.responseJSON.error);
                }
            });
        }

        function show_group(s_name_group,emp){
            var val_show=$(emp).attr("value");
            if(val_show=="hide"){
                $(emp).find(".icon_show").attr("src", "public/SVG/ExUp.svg");
                $("."+s_name_group).show();
                $(emp).attr("value","show");
            }else{
                $(emp).find(".icon_show").attr("src", "public/SVG/Down.svg");
                $("."+s_name_group).hide();
                $(emp).attr("value","hide");
            }
        }
    </script>
</body>

</html>